.row
  .col-12
    .card
      .card-header
        %h3.card-title
          = "#{action_name.capitalize} collection"

      .card-body.w-250
        = simple_form_for @collection, local: true do |f|
          .row
            .col-md-6
              = f.input :name, label: "Name", input_html: { class: "form-control" }

          .row
            .col-md-6
              = f.input :slug, label: "Slug", input_html: { class: "form-control" }

          .row
            .col-md-6
              = f.input :sorting_index, label: "Display order", input_html: { class: "form-control" }

          .row
            .col-md-6
              %label{ for: "customFileAvatar", class: "form-label" } Avatar
              .row.avatar-image-upload-container.gap-1
                .avatar-upload-container
                  .rounded-circle.border.d-inline-flex.align-items-center.justify-content-center{ style: "width: 90px; height: 90px; border: dotted; overflow: hidden;" }
                    - avatar_image_url = @collection.avatar_image.present? && @collection.avatar_image.respond_to?(:url) ? @collection.avatar_image.url : ''
                    - margin_left = avatar_image_url.present? ? '0' : '16px'

                    %img{ id: "currentAvatar", src: avatar_image_url, style: "display: #{avatar_image_url.present? ? 'block' : 'none'}; width: 100%; height: 100%; object-fit: cover; margin-left: #{margin_left};" }
                    - if avatar_image_url.blank?
                      %i.fa-solid.fa-image
                    = f.input :avatar_image, as: :file, label: false, input_html: { id: "customFileAvatar", class: "form-control-file upload-input", style: "display: none;", accept: "image/*", 'data-preview-id': "currentAvatar", 'data-aspect-ratio': "1" }

                .avatar-image-upload
                  %button.btn.btn-primary.mt-2{ onclick: "event.preventDefault(); document.getElementById('customFileAvatar').click();" } Upload image
                  %p.mt-4.text-muted.small SVG, PNG, JPG (max: 800x800px)

          .row.mt-3
            .col-md-12
              %label{ for: "customFile", class: "form-label" } Banner image
              .dropzone.p-1.border.rounded.text-center{ style: "border: dashed; background-color: #f8f9fa;", id: "bannerDropzone", onclick: "document.getElementById('customFile').click();" }
                - banner_image_url = @collection.banner_image.present? && @collection.banner_image.respond_to?(:url) ? @collection.banner_image.url : ''
                = f.input :banner_image, as: :file, label: false, input_html: { id: "customFile", class: "form-control-file upload-input", style: "display: none;", accept: "image/*", 'data-preview-id': "currentBanner", 'data-aspect-ratio': "2.1" }
                %img{ src: banner_image_url, alt: "Current Banner", class: "img-fluid dropzone-preview", id: "currentBanner", style: "display: #{banner_image_url.present? ? 'block' : 'none'};" }
                %div.dropzone-placeholder
                  %i.fa-solid.fa-upload
                  %p.mb-1 Drag & drop an image here or click to select a file
                  %p.mb-0.text-muted.small 1080 x 540 recommended dimensions, up to 2MB
          .row.mt-2
            .col-md-6.d-flex.justify-content-center
              = link_to 'Cancel', collections_path, class: 'btn btn-secondary mx-2 btn-custom'
              = f.submit 'Save', class: 'btn btn-danger mx-2 btn-custom'
    .row.d-flex.justify-content-between.mt-4
      .col-auto
        %a.btn.btn-outline-secondary{ href: collections_path } Back
