- content_for :title do
  = 'Collections'

.row
  .col-12
    .card
      .card-header
        %h3.card-title 
          Your Collections
          %br
          %small.text-muted Collections organise channels on your server by grouping several together related to similar topics or themes.
        .card-tools
          %button.btn.btn-sm.btn-danger.ml-3{ onclick: "window.location='#{new_collection_path}'" }
            Create a Collection
            = image_tag("icons/circle-plus.svg", class: "ml-2", width: "16", height: "16")
      .card-body
        %table.table.no-side-borders.top-bottom-border{data: {url: collections_url, type: 'collection'}}
          %thead
            %tr
              %th Collection Name
              %th Slug
              %th Sorting Index
              %th Actions
          %tbody
            - if @records.size == 0
              %tr
                %td.text-center.info-box-content{colspan: "100%"}
                  %p.text-muted.small You haven’t added any collections yet.
                  %a.text-danger.small{ href: new_collection_path } Click here to create one
            - @records.each do |collection|
              %tr
                %td= collection.name
                %td= collection.slug
                %td= collection.sorting_index
                %td
                  %a{ href: edit_collection_path(collection), title: 'Edit' }
                    %i.fa-solid.fa-edit.ml-2{ style: "color: red;" }