- content_for :title do
  = 'Homepage'
- title = application_name(0)

.row
  .col-12
    .card.homepage
      .card-body.mx-4.my-4
        .row.d-flex.align-items-center
          .col-9
            %h2
              Welcome to the #{title} dashboard
            %p.text-light
              Here, you can oversee your server settings enhanced by Patchwork
              %br
              patches, all in one place. Install patches, curate content, manage
              %br
              users, create new channels and more with minimal effort. Enjoy
              %br
              seamless control and organisation of your server.
          .col-3.position-relative
            .logo
              = image_tag("patchwork-logo.svg", class: "large-logo")

%div.text-center.my-3 Use our quick actions to get started:

%div.d-flex.flex-row.align-items-stretch
  .col-4.d-flex.justify-content-between
    .card.small-card
      .card-body.d-flex{style: 'flex-direction: column;'}
        %div.d-flex.justify-content-center.my-2
          = image_tag("icons/tool.svg", width: "20", height: "20")
        %div.d-flex.justify-content-center.my-2
          %h5 Installation
        %p.text-muted.small.my-2
          Install Patchwork patches to enable new features and controls.
        %div.d-grid.gap-2.mt-auto.my-2
          %a.btn.btn-danger.btn-block{ href: '/installation' } View installation panel
  .col-4.d-flex.justify-content-between
    .card.small-card
      .card-body.d-flex{style: 'flex-direction: column;'}
        %div.d-flex.justify-content-center.my-2
          = image_tag("icons/setting.svg", width: "20", height: "20")
        %div.d-flex.justify-content-center.my-2
          %h5 Server settings
        %p.text-muted.small.my-2
          Update the settings for your server to ensure content is being moderated correctly and spam filters are in place.
        %div.d-grid.gap-2.mt-auto.my-2
          %a.btn.btn-danger.btn-block{ href: server_settings_path } View server settings
  .col-4.d-flex.justify-content-between
    .card.small-card
      .card-body.d-flex{style: 'flex-direction: column;'}
        %div.d-flex.justify-content-center.my-2
          = image_tag("icons/folder-open.svg", width: "20", height: "20")
        %div.d-flex.justify-content-center.my-2
          %h5 Resources
        %p.text-muted.small.my-2
          Documentation, specifications and source code for Patchwork.
        %div.d-grid.gap-2.mt-auto.my-2
          %a.btn.btn-danger.btn-block{ href: resources_path } View resources
