.row
  .col-12
    .card
      .card-header
        %h3.card-title= "#{action_name.capitalize} Server Setting"

      .card-body
        = simple_form_for @server_setting do |f|
          
          .mb-3
            = f.label :name, class: 'form-label'
            = f.text_field :name, class: 'form-control', required: true
            %small.form-text.text-danger
              - if action_name == 'new'
                &#9888; If creating a parent setting, please ensure that only the 'Name' field is filled.
          
          - unless @server_setting.parent_id.nil? && action_name == 'edit'
            .mb-3
              = f.label :value, 'Is check?', class: 'form-label'
              = f.check_box :value, class: 'form-control'

            .mb-3
              = f.label :parent_id, class: 'form-label'
              = f.collection_select :parent_id, ServerSetting.where(parent_id: nil), :id, :name, { include_blank: true }, { class: 'form-control' }

            .mb-3
              = f.label :position, class: 'form-label'
              = f.number_field :position, class: 'form-control', min: 0, step: 1

          - if action_name == 'edit'
            .mt-3
              = f.button :submit, 'Save', class: 'btn btn-outline-primary'
              = link_to 'Back', server_settings_url, class: 'btn btn-outline-secondary ml-2'
              = link_to 'Destroy', @server_setting, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger ml-2'
          - else
            .mt-3
              = f.button :submit, 'Save', class: 'btn btn-outline-primary'
              = link_to 'Back', server_settings_url, class: 'btn btn-outline-secondary ml-2'
