.div
  %p Upload logo and brand colours

  = simple_form_for :site_settings, url: branding_server_settings_path, html: { multipart: true } do |f|
    .row
      .col-md-6
        = f.input :brand_color, label: "Brand colour", required: false, input_html: { value: @brand_color.parsed_value, class: "form-control" }
    - @site_uploads.each do |site_upload|
      - if site_upload.var == 'favicon'
        .row
          .col-md-12
            %label{ for: "customFileFavicon", class: "form-label" } Favicon
            .row.favicon-image-upload-container.gap-1
              .favicon-upload-container
                .rounded.border.d-inline-flex.align-items-center.justify-content-center{ style: "width: 90px; height: 90px; border: dotted; overflow: hidden;" }
                  - favicon_image_url = site_upload.file.present? && site_upload.file.respond_to?(:url) ? site_upload.file.url('48') : ''
                  - margin_left = favicon_image_url.present? ? '0' : '16px'
                  %img{ id: "currentFavicon", src: favicon_image_url, alt: "Favicon Preview", style: "display: #{favicon_image_url.present? ? 'block' : 'none'}; width: 100%; height: 100%; object-fit: cover; margin-left: #{margin_left};" }
                  - if favicon_image_url.blank?
                    %i.fa-solid.fa-image
                  = f.input :favicon, as: :file, label: false, required: false, input_html: { id: "customFileFavicon", class: "form-control-file upload-input", style: "display: none;", accept: "image/*", 'data-preview-id': "currentFavicon", 'data-aspect-ratio': "1" }
              .favicon-image-upload
                %button.btn.btn-primary.mt-2{ onclick: "event.preventDefault(); document.getElementById('customFileFavicon').click();" } Upload image
                %p.mt-4.text-muted.small WEBP, PNG, GIF or JPG. Overrides the default Mastodon favicon with a custom icon.
      - elsif site_upload.var == 'app_icon'
        .row
          .col-md-12
            %label{ for: "customFileAppIcon", class: "form-label" } App icon
            .row.app-icon-image-upload-container.gap-1
              .app-icon-upload-container
                .rounded.border.d-inline-flex.align-items-center.justify-content-center{ style: "width: 90px; height: 90px; border: dotted; overflow: hidden;" }
                  - app_icon_image_url = site_upload.file.present? && site_upload.file.respond_to?(:url) ? site_upload.file.url('48') : ''
                  - margin_left = app_icon_image_url.present? ? '0' : '16px'
                  %img{ id: "currentAppIcon", src: app_icon_image_url, alt: "App-icon Preview", style: "display: #{app_icon_image_url.present? ? 'block' : 'none'}; width: 100%; height: 100%; object-fit: cover; margin-left: #{margin_left};" }
                  - if app_icon_image_url.blank?
                    %i.fa-solid.fa-image
                  = f.input :app_icon, as: :file, label: false, required: false, input_html: { id: "customFileAppIcon", class: "form-control-file upload-input", style: "display: none;", accept: "image/*", 'data-preview-id': "currentAppIcon", 'data-aspect-ratio': "1" }
              .app-icon-image-upload
                %button.btn.btn-primary.mt-2{ onclick: "event.preventDefault(); document.getElementById('customFileAppIcon').click();" } Upload image
                %p.mt-4.text-muted.small WEBP, PNG, GIF or JPG. Overrides the default app icon on mobile devices with a custom icon.
      - elsif site_upload.var == 'thumbnail'
        .row.mt-3
          .col-md-12
            %label{ for: "customFileThumbnail", class: "form-label" } Server thumbnail
            .dropzone.p-1.border.rounded.text-center{ style: "border: dashed; background-color: #f8f9fa;", id: "thumbnailDropzone", onclick: "document.getElementById('customFileThumbnail').click();" }
              - thumbnail_image_url = site_upload.file.present? && site_upload.file.respond_to?(:url) ? site_upload.file.url(:'@1x') : ''
              = f.input :thumbnail, as: :file, label: false, required: false, input_html: { id: "customFileThumbnail", class: "form-control-file upload-input", style: "display: none;", accept: "image/*", 'data-preview-id': "currentBanner", 'data-aspect-ratio': "2.1" }
              %img{ src: thumbnail_image_url, alt: "Thumbnail Preview", class: "img-fluid dropzone-preview", id: "currentBanner", style: "display: #{thumbnail_image_url.present? ? 'block' : 'none'};" }
              %div.dropzone-placeholder
                %i.fa-solid.fa-upload
                %p.mb-1 Drag & drop an image here or click to select a file
                %p.mb-0.text-muted.small A roughly 2:1 image displayed alongside your server information.
    .row.mt-2
      .col-md-6.d-flex
        = f.submit 'Save', class: 'btn btn-danger mx-2 btn-custom'
