.div
  %p Upload logo and brand colours

  = simple_form_for :site_settings, url: branding_server_settings_path, html: { multipart: true } do |f|
    .row
      .col-md-6
        = f.input :brand_color, label: "Brand colour", required: false, input_html: { value: @brand_color.parsed_value, class: "form-control" }
        %p.mt-2.text-muted.small Set the brand color in hex (e.g., #D24A34)
    - @site_uploads.each do |site_upload|
      - if site_upload.var == 'mail_header_logo'
        .row
          .col-md-12
            %label{ for: "customFileHeaderLogo", class: "form-label" } Mail header logo
            .row.header-logo-image-upload-container.gap-1
              .header-logo-upload-container
                .rounded.border.d-inline-flex.align-items-center.justify-content-center{ style: "width: 320px; height: 80px; border: dotted; overflow: hidden;" }
                  - header_logo_image_url = site_upload.file.present? && site_upload.file.respond_to?(:url) ? site_upload.file.url : ''
                  - margin_left = header_logo_image_url.present? ? '0' : '16px'
                  %img{ id: "currentHeaderLogo", src: header_logo_image_url, alt: "Header-logo Preview", style: "display: #{header_logo_image_url.present? ? 'block' : 'none'}; width: 100%; height: 100%; object-fit: cover; margin-left: #{margin_left};" }
                  - if header_logo_image_url.blank?
                    %i.fa-solid.fa-image
                  = f.input :mail_header_logo, as: :file, label: false, required: false, input_html: { id: "customFileHeaderLogo", class: "form-control-file upload-input", style: "display: none;", accept: "image/*", 'data-preview-id': "currentHeaderLogo", 'data-aspect-ratio': "4.1" }
              .header-logo-image-upload
                %button.btn.btn-primary.mt-2{ onclick: "event.preventDefault(); document.getElementById('customFileHeaderLogo').click();" } Upload image
                %p.mt-3.text-muted.small SVG, PNG, JPG (aspect ratio: 4:1), recommended dimensions 320 x 80
      - elsif site_upload.var == 'mail_footer_logo'
        .row
          .col-md-12
            %label{ for: "customFileFooterLogo", class: "form-label" } Mail footer logo
            .row.footer-logo-image-upload-container.gap-1
              .footer-logo-upload-container
                .rounded.border.d-inline-flex.align-items-center.justify-content-center{ style: "width: 90px; height: 90px; border: dotted; overflow: hidden;" }
                  - footer_logo_image_url = site_upload.file.present? && site_upload.file.respond_to?(:url) ? site_upload.file.url : ''
                  - margin_left = footer_logo_image_url.present? ? '0' : '16px'
                  %img{ id: "currentFooterLogo", src: footer_logo_image_url, alt: "Footer-logo Preview", style: "display: #{footer_logo_image_url.present? ? 'block' : 'none'}; width: 100%; height: 100%; object-fit: cover; margin-left: #{margin_left};" }
                  - if footer_logo_image_url.blank?
                    %i.fa-solid.fa-image
                  = f.input :mail_footer_logo, as: :file, label: false, required: false, input_html: { id: "customFileFooterLogo", class: "form-control-file upload-input", style: "display: none;", accept: "image/*", 'data-preview-id': "currentFooterLogo", 'data-aspect-ratio': "1" }
              .footer-logo-image-upload
                %button.btn.btn-primary.mt-2{ onclick: "event.preventDefault(); document.getElementById('customFileFooterLogo').click();" } Upload image
                %p.mt-4.text-muted.small SVG, PNG, JPG (aspect ratio: 1:1)
    .row.mt-2
      .col-md-6.d-flex
        = f.submit 'Save', class: 'btn btn-danger mx-2 btn-custom'
