- content_for :title do
  = 'Server Settings'

.row
  .col-12
    .card
      .card-header
        %h3.card-title Settings

      .card-body
        - @server_settings.each do |setting|
          .row.mb-4
            .col-md-5
              %div
                %strong= setting[:name]
              %p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.
            .col-md-7
              - setting[:settings].each_with_index do |option, option_index|
                %div.d-flex.justify-content-between
                  %div
                    %label.form-check-label.switch{ for: option[:id] }
                      %input.form-check-input.switch-input.setting-input{ type: 'checkbox', id: option[:id], checked: option[:is_operational], 'data-setting-id' => option[:id] }
                      %span.switch-slider.round
                        %span.slider-tick
                          %i.fa-solid.fa-check
                        %span.slider-cross
                          %i.fa-solid.fa-xmark
                    %span.ml-2
                      = option[:name]
                      %a{'data-toggle': 'tooltip', title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.', class: 'ml-1' }
                        = image_tag("icons/circle-info.svg", alt: "Circle Info Icon", class: "mr-2", width: "16", height: "16")
                  %div
                    - case option[:name]
                    - when 'Spam filters'
                      %a{ href: '#', style: 'color: red;', title: 'Add spam filter', 'data-filter-type': 'spam', 'data-id': option[:id], 'data-toggle': 'modal', 'data-target': '#keyFilterModal' }
                        Add spam filter
                    - when 'Sign up challenge'
                      %a{ href: '#', style: 'color: red;', title: 'Add challenge' }
                        Add challenge
                    - when 'Content filters'
                      %a{ href: '#', style: 'color: red;', title: 'Add custom filter', 'data-filter-type': 'content', 'data-id': option[:id], 'data-toggle': 'modal', 'data-target': '#keyFilterModal' }
                        Add custom filter
                    - when 'Custom theme'
                      %a{ href: '#', style: 'color: red;', title: 'Choose theme' }
                        Choose theme
                    - when 'Live blocklist'
                      %a{ href: '#', style: 'color: red;', title: 'Set-up denylist' }
                        Set-up denylist
                - unless option[:keyword_filter_groups].blank?
                  %hr
                  .nested-options.ml-4
                    - option[:keyword_filter_groups].each_with_index do |sub_option, sub_option_index|
                      .d-flex.align-items-center.mb-2
                        = image_tag("icons/diagram-nested.svg", alt: "Nested Diagram Icon", class: "mr-2", width: "16", height: "16")
                        %label.form-check-label.switch{ for: sub_option[:id] }
                          %input.form-check-input.switch-input.keyword-input{ type: 'checkbox', id: sub_option[:id], checked: sub_option[:is_active], 'data-group-id' => sub_option[:id], 'data-is-custom' => sub_option[:is_custom], 'data-server-setting-id' => option[:id] }
                          %span.switch-slider.round
                            %span.slider-tick
                              %i.fa-solid.fa-check
                            %span.slider-cross
                              %i.fa-solid.fa-xmark
                        %span.ml-2
                          = sub_option[:name]
                          %a{ href: '#', 'data-toggle': 'tooltip', title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt.', class: 'ml-1' }
                            = image_tag("icons/circle-info.svg", alt: "Circle Info Icon", class: "mr-2", width: "16", height: "16")
                      - unless sub_option_index == option[:keyword_filter_groups].size - 1
                        %hr
                - unless option_index == setting[:settings].size - 1
                  %hr
          - unless setting == @server_settings.last
            %hr

= render 'keyword_filter'
