.container.mt-4.pt-4
  .stepper.right-sidebar
    = render_step(1, 1, 'Channel information', 'Set up the basic details of your channel.')

    - if organisation_admin?
      = render_step(3, 2, 'Add content', 'Populate your channel with content from across the New Social network. Here you can define rules that specify what content is included in your channel.')
      = render_step(4, 3, 'Filter content', 'Filter content from the wider network to ensure your channel stays relevant.')
      = render_step(6, 4, 'Additional information', 'Add your channel guidelines and any additional information to support the channel.')
    - else
      = render_step(2, 2, 'Admin and public feed details', 'Create admin accounts for your channel.')
      = render_step(3, 3, 'Add content', 'Populate your channel with content from across the New Social network. Here you can define rules that specify what content is included in your channel.')
      = render_step(4, 4, 'Filter content', 'Filter content from the wider network to ensure your channel stays relevant.')

      - unless user_admin? || @community&.channel_feed?
        / .step.step-5{class: step_class(5)}
        /   .circle
        /     %span.small{class: (@current_step > 5 ? 'step-no' : '')} 5
        /   .label
        /     %strong Share content
        /     %p.desc.small Select default hashtags to help posts reach audiences beyond your channel.

        = render_step(6, 5, 'Additional information', 'Add your channel guidelines and any additional information to support the channel.')
