.card
  .card-body.top-card
    %h5.text-light Welcome to the Patchwork Dashboard
    %p.text-light From here you can update the settings which show on your server.
    %i.fa-solid.fa-check.text-red
    %span.text-light Customise your server
    %br/
    %i.fa-solid.fa-check.text-red
    %span.text-light Add new channels
    %br/
    %i.fa-solid.fa-check.text-red
    %span.text-light Install plug-in patches
    %a.btn.btn-danger.mt-3{ href: (ENV['MASTODON_INSTANCE_URL'].present? ? ENV['MASTODON_INSTANCE_URL'] : '#'), target: '_blank' } Go to your server
- if master_admin?
  .card.mt-3
    .card-header
      %div.d-flex.justify-content-between
        %div
          %h5.card-title Installation
        %div
          = image_tag("icons/boxes.svg", class: "mr-2", width: "16", height: "16")
    .card-body
      %p.text-muted.small Patch Packs install popular configurations of settings in just one click.
      = link_to 'Get started', '/installation', class: 'btn btn-outline-dark'
  .card.mt-3
    .card-header
      %div.d-flex.justify-content-between
        %h5.card-title Most popular channels
        = image_tag("icons/chart-line-up.svg", class: "mr-2", width: "16", height: "16")
    .card-body.mb-3
      - ["Local channel 1", "Local channel 2", "Local channel 3", "Local channel 4", "Local channel 5"].each do |community|
        .d-flex.align-items-center.mb-1
          %img{ alt: "profile picture", src: asset_path('patchwork-logo.svg'), class: "rounded-circle", style: "width: 35px; height: 35px; border: 2px solid white;" }
          %div.ml-3
            %div= community
            %div.text-muted 709,3K Followers
          %div.ml-auto
            = image_tag("icons/chevron-right.svg", width: "16", height: "16")
      %a.btn.btn-outline-secondary.mt-3{ href: '#' } Make your own local channel
      = link_to 'Upgrade to Patchwork Channel', '/installation', class: 'btn btn-danger mt-3'
