%aside.main-sidebar.sidebar-dark-grey.elevation-4
  %a.brand-link.d-flex.justify-content-center{ href: root_url }
    = image_tag 'qlub-logo.png', alt: 'Qlub Logo', width: 100, id: 'logo'
  .sidebar
    %nav.mt-2
      %ul.nav.nav-pills.nav-sidebar.flex-column{ "data-accordion": "false", "data-widget": "treeview", role: "menu" }
        - sidebar_menu_items.each do |item|
          %li.nav-item
            = link_to item[:path], id: item[:id], data: { header: item[:header] }, class: "nav-link #{active_class(item[:active_if])}", target: item[:target] do
              - if item[:icon_class]
                %i.nav-icon{ class: item[:icon_class] }
              - else
                = image_tag("icons/#{item[:icon]}", class: "mr-2", width: "16", height: "16")
              %p= item[:text]
