- @community   ||= @community_admin.community
- display_name  = @community_admin&.user&.account&.display_name
- username      = @community_admin&.user&.account&.username
- email         = @community_admin&.user&.email
- required_pass = @community_admin.new_record? ? true : false
- role          = params[:type].presence || @community_admin&.user&.role&.name
.row
  .col-12
    .card
      .card-header
        %h3.card-title
          = "#{action_name.capitalize} #{params[:type]&.split('-')&.join(' ')}"

      .card-body.w-50
        = simple_form_for @community_admin do |f|
          = hidden_field_tag :community_id, @community.slug
          = hidden_field_tag :user_role, role

          .mb-3
            = label_tag :commnunity, 'Community', class: 'form-label'
            = text_field_tag :commnunity, @community.name, class: 'form-control', disabled: true

          .mb-3
            = label_tag :commnunity, 'Role', class: 'form-label'
            = text_field_tag :user_role, role, class: 'form-control', disabled: true

          .mb-3
            = label_tag :display_name, 'Display name', class: 'form-label'
            = text_field_tag :display_name, display_name, class: 'form-control'

          .mb-3
            = label_tag :username, 'Username', class: 'form-label'
            = text_field_tag :username, username, class: 'form-control', required: true

          .mb-3
            = label_tag :email, 'Email address', class: 'form-label'
            = email_field_tag :email, email, class: 'form-control', required: true

          .password
            = label_tag :password, 'Password', class: 'form-label'
            = password_field_tag :password, nil, class: 'form-control', required: required_pass, autocomplete: 'cc-number'
            %i.fa-solid.fa-eye-slash{onclick: 'window.togglePassword(this)'}
          - unless required_pass
            .text-muted.text-sm Leave it blank if you don't want to change the password.
          .mb-3

          = f.button :submit, 'Save', class: 'btn btn-outline-primary'
          = link_to 'Back', community_url(@community.slug, type: role), class: 'ml-2 text-gray'