- content_for :title do
  = 'Community Admin'

.row
  .col-12
    .card
      .card-header
        %h3.card-title 
          Detail

      .card-body
        .row.border-bottom.mb-4.mt-2
          .col-sm-3.text-secondary.text-right
            ID:
          .col-sm-9.text-left
            = @community_admin.id

        .row.border-bottom.mb-4
          .col-sm-3.text-secondary.text-right
            Community:
          .col-sm-9.text-left
            = @community_admin.community.name
        .row.border-bottom.mb-4
          .col-sm-3.text-secondary.text-right
            Display name:
          .col-sm-9.text-left
            = @community_admin.user.account.display_name
        .row.border-bottom.mb-4
          .col-sm-3.text-secondary.text-right
            Username:
          .col-sm-9.text-left
            = @community_admin.user.account.username
        .row.border-bottom.mb-4
          .col-sm-3.text-secondary.text-right
            Email address:
          .col-sm-9.text-left
            = @community_admin.user.email
        .row.border-bottom.mb-4
          .col-sm-3.text-secondary.text-right
            Role:
          .col-sm-9.text-left
            = @community_admin.user&.role&.name

        
        .row
          = link_to 'Back', community_url(@community_admin.community.slug, type: @community_admin.user&.role&.name.to_s), class: 'back'
