- content_for :title do
  = 'Resources'

.row
  .col-6
    .card.resource
      .card-header
        %div.d-flex.justify-content-between
          %div
            %h5.card-title Documentation
          %div
            = image_tag("icons/copy.svg", class: "mr-2", width: "16", height: "16")
      .card-body.resource-card
        %p.text-muted.small
          Review technical specifications and documentation for different components of Patchwork.
        .mt-auto
          = link_to 'View documentation', 'https://github.com/patchwork-hub/patchwork_dashboard/wiki', class: 'installed-button btn btn-outline-secondary', target: '_blank'
  .col-6
    .card.resource
      .card-header
        %div.d-flex.justify-content-between
          %div
            %h5.card-title Source code
          %div
            = image_tag("icons/Code.svg", class: "mr-2", width: "16", height: "16")
      .card-body.resource-card
        %p.text-muted.small
          Patchwork is an open source project, licenced under AGPL-3.0. Our code is available on Github where you can read it and adapt it for yourself.
        .mt-auto
          = link_to 'View source code', 'https://github.com/patchwork-hub', class: 'installed-button btn btn-outline-secondary', target: '_blank'

.row
  .col-6
    .card.resource
      .card-header
        %div.d-flex.justify-content-between
          %div
            %h5.card-title Website
          %div
            = image_tag("icons/website.svg", class: "mr-2", width: "16", height: "16")
      .card-body.resource-card
        %p.text-muted.small
          Visit the Patchwork website for more information about Patchwork, the people behind it and the social web.
        .mt-auto
          = link_to 'View website', 'https://www.newsmastfoundation.org/', class: 'installed-button btn btn-outline-secondary', target: '_blank'  

  .col-6
    .card.resource
      .card-header
        %div.d-flex.justify-content-between
          %div
            %h5.card-title Latest news
          %div
            = image_tag("icons/news.svg", class: "mr-2", width: "16", height: "16")
      .card-body.resource-card
        %p.text-muted.small
          Check out the latest news from the team behind Patchwork. Here you can find news on upcoming features, updates from the social web and the future of social media.
        .mt-auto
          = link_to 'View latest news', 'https://www.blog-pat.ch/', class: 'installed-button btn btn-outline-secondary', target: '_blank'
