%table.table.mt-3.table-striped
  %thead
    %tr
      %th
        Search results for “Tom Bombadil”
  %tbody
    - @records.each do |account|
      %tr
        %td= account.username
        %td
          - if @current_acc.followed?(account.id)
            %button.btn.btn-block.btn-outline-danger{ id: "follow_btn_#{account.id}", onclick: "unfollowContributor('#{account.id}')" } Unfollow
          - else
            %button.btn.btn-block.btn-outline-dark{ id: "follow_btn_#{account.id}", onclick: "followContributor('#{account.id}')" } Follow
