%p Hello,
  
%p 
  = "The invitation codes report was exported successfully. Click"
  = link_to 'here', @download_link
  = "to download."

- if @type == 'new_invitation_code'
  %p
    = "Role  - #{@role}"
    %br
    = "Limit - #{@limit}"