- title = "Invitation codes"

- content_for :title do
  = #{title}

.row
  .col-12
    .card
      .card-header
        %h3.card-title #{title}
        .card-tools.w-50
      .card-body
        %p.text-muted Here you can see a list of all invitation codes.
        %table.table.no-side-borders.top-bottom-border{data: {url: wait_lists_url, type: 'wait_list'}}
          %thead
            %tr
              %th Code
              %th Requested email
              %th Used
              %th Account
              %th Channel type
          %tbody
            - if @wait_lists.size == 0
              %tr
                %td.text-center.info-box-content{colspan: "100%"}
                  %p.text-muted.small You haven’t added any codes
            - @wait_lists.each do |wait_list|
            - account = wait_list&.account
              %tr
                %td
                  - if wait_list.invitation_code.present?
                    - if wait_list&.used
                      %span.text-muted{title: "Unable to copy", style: "cursor: not-allowed; text-decoration-line: line-through"}= "#{wait_list.invitation_code}"
                    - else
                      %span.copyable-text{title: "Click to copy", style: "cursor: pointer;", onclick: "copyToClipboard('#{wait_list.invitation_code}')"}= "#{wait_list.invitation_code}"
                  - else
                    %span.text-muted -
                %td= wait_list&.email.nil? ? " - " : wait_list&.email
                %td= wait_list&.used  ? "Yes" : "No"
                %td
                  - if account.present?
                    %span.copyable-text{title: "Click to copy", style: "cursor: pointer;", onclick: "copyToClipboard('#{account_url(account)}')"}= "@#{username(account)}@#{domain(account)}"
                  - else
                    %span.text-muted -
                %td= wait_list&.channel_type&.capitalize
        - if master_admin?
          .row.mt-2
            .col
              .pagination.pagination-sm.m-0.float-right
                = paginate @wait_lists, theme: 'bootstrap4'
          .row.mt-4
            .col-8.d-flex.justify-content-center
              %div.btn-group
                %button.btn.btn-danger.ml-3{ id: "create-channel-code-btn" }
                  Generate channel code
                  = image_tag("icons/circle-plus.svg", class: "ml-2", width: "16", height: "16")
                %button.btn.btn-danger.ml-3{ id: "create-hub-code-btn" }
                  Generate hub code
                  = image_tag("icons/circle-plus.svg", class: "ml-2", width: "16", height: "16")
            .col-4.d-flex.justify-content-center.preview_code
