- content_for :title do
  = 'Waitlist'

.row
  .col-12
    .card
      .card-header
        %h3.card-title 
          Detail

      .card-body
        .row.border-bottom.mb-4.mt-2
          .col-sm-3.text-secondary.text-right
            ID:
          .col-sm-9.text-left
            = @wait_list.id
        .row.border-bottom.mb-4
          .col-sm-3.text-secondary.text-right
            Eamil:
          .col-sm-9.text-left
            = @wait_list.email
        .row.border-bottom.mb-4
          .col-sm-3.text-secondary.text-right
            Role:
          .col-sm-9.text-left
            = @wait_list.role || '-'
            - if @wait_list.contributor_role
              %span
                = "/ #{@wait_list.contributor_role.name}"
            
        .row.border-bottom.mb-4
          .col-sm-3.text-secondary.text-right
            Description:
          .col-sm-9.text-left
            = @wait_list.description || '-'
        .row
          = link_to 'Back', wait_lists_url, class: 'back'
