.row
  .col-12
    .card
      .card-header
        %h3.card-title
          = "#{action_name.capitalize} keyword"

      .card-body.w-50
        = simple_form_for @keyword_filter do |f|
          
          .mb-3
            = f.label :keyword, class: 'form-label'
            = f.text_field :keyword, class: 'form-control', required: true

          .mb-3
            = f.label :is_filter_hashtag, 'Is hashtag?', class: 'form-label'
            = f.check_box :is_filter_hashtag, class: 'form-control'

          = f.button :submit, 'Save', class: 'btn btn-outline-primary'
          = link_to 'Back', keyword_filters_url, class: 'ml-2 text-gray'