.row
  .col-12
    .card
      .card-header
        %h3.card-title
          = "#{action_name.capitalize} keyword"

      .card-body.w-50
        = form_for [@keyword_filter_group, @keyword_filter] do |f|

          .mb-3
            = f.label :keyword, class: 'form-label'
            = f.text_field :keyword, class: 'form-control', required: true

          .mb-3
            = f.label :filter_type, 'Filter applies to', class: 'form-label'
            = f.select :filter_type, KeywordFilter.filter_types.keys.map { |type| [type.capitalize, type] }, {}, class: 'form-control', required: true

          .mb-3.d-flex.align-items-center
            = f.submit 'Save', class: 'btn btn-primary mx-2 btn-custom'
            = link_to 'Back', @keyword_filter_group, class: 'btn btn-secondary mx-2 btn-custom'
