- is_disable = !master_admin?
.modal.fade#communityAdminModal{ tabindex: '-1', aria: { labelledby: 'communityAdminModalLabel', hidden: 'true' } }
  .modal-dialog
    .modal-content
      .modal-header
        %h5.modal-title#communityAdminModalLabel Create Community Admin
        %button.close{ type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close' }
          = image_tag 'icons/circle-xmark.svg', alt: 'Close', width: 18, height: 18, 'aria-hidden': 'true'
      .modal-body
        = simple_form_for @community_admin, url: (@community_admin.persisted? ? community_admin_path(@community_admin) : community_admins_path), method: (@community_admin.persisted? ? :patch : :post), html: { id: 'new_admin_form' } do |f|
          = f.hidden_field :community_id, value: @community.id
          = f.hidden_field :role, id: 'community_admin_role', value: @community_admin.role || ''
          .mb-3
            = f.label :display_name, class: "form-label"
            = f.text_field :display_name, class: "form-control", id: "community_admin_display_name", value: @community.name, disabled: true
          .mb-3
            = f.label :username, class: "form-label"
            = f.text_field :username, class: "form-control", id: "community_admin_username", value: @community.slug, disabled: true
          - if @community.channel?
            .row.mb-3
              .col
                .form-check
                  = check_box_tag 'is_organisation_admin', 'organisation_admin', @community_admin.role == 'OrganisationAdmin', class: 'form-check-input red-check-box', id: 'is_organisation_admin', disabled: is_disable, onchange: "updateRoleField(this)"
                  = f.label :role, "Organisation Admin", class: "form-check-label", for: 'is_organisation_admin'
              .col
                .form-check
                  = f.check_box :is_boost_bot, class: 'form-check-input red-check-box', id: 'community_admin_is_boost_bot', disabled: is_disable
                  = f.label :is_boost_bot, "Boost Bot", class: "form-check-label", for: 'community_admin_is_boost_bot'
          .mb-3
            = f.label :email, class: "form-label"
            = f.email_field :email, class: "form-control", id: "community_admin_email", disabled: is_disable
          - if @community.channel?
            .mb-3.form-group.position-relative.password
              = f.label :password, class: "form-label"
              = f.password_field :password, class: "form-control", id: "community_admin_password"
              %i.fa-solid.fa-eye-slash.red{onclick: 'togglePassword(this)'}
          .modal-footer
            %div.d-flex.justify-content-end
              .col
                %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
              .col
                = f.submit 'Save changes', class: 'btn btn-danger'
