#editHashtagModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "editHashtagLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#editHashtagLabel.modal-title Edit channel hashtag
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %p.text-muted.small Edit a channel hashtag using the form below. Every post on this hashtag will appear in the channel. This allows channel members to post to the channel even when they’re somewhere else in the network.
        - if @token.nil?
          %p.small.red
            = image_tag("icons/exclamation-triangle.svg", class: "ml-2", width: "16", height: "16")
            To edit hashtag, please enable public feed.
        = simple_form_for @community_hashtag_form, url: step3_update_hashtag_community_path, method: :patch, html: { id: 'edit_hashtag_form' } do |form|
          = form.hidden_field :community_id, value: @community.id, id: 'edit_community_id'
          = form.hidden_field :hashtag_id, id: 'edit_hashtag_id'
          .row
            .col
              .form-group
                = form.label :hashtag
                = form.text_field :hashtag, class: 'form-control', id: 'edit_hashtag_input'
          .modal-footer
            %div.d-flex.justify-content-between
              .col
                %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
              .col
                = form.submit 'Save changes', class: 'btn btn-danger'
