#hashtagModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Add new community hashtag
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        = simple_form_for @community_hashtag_form, url: step3_communities_path do |form|
          = form.hidden_field :community_id, value: @community.id
          .row
            .col
              .form-group
                = form.label :hashtag
                = form.text_field :hashtag, class: 'form-control', value: '#'
          = form.submit 'Save', class: 'btn btn-primary'
  .modal-footer
    %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
.container-fluid
  .row-md-12.my-4
    .col
      %ol.carousel-indicators
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-secondary{style: "width: 65px; height: 5px;"}
        %li.bg-secondary{style: "width: 65px; height: 5px;"}
        %li.bg-secondary{style: "width: 65px; height: 5px;"}
  .row
    .col-md-12
      .card
        .card-header
          %h3.card-title Step 3 - Add content
        .card-body
          .row.d-flex.justify-content-between
            .col-auto
              .row
                %label Hashtags
              .row
                .mt-auto
                  %p.text-muted Add the hashtags used to bring posts into your community.
            .col-auto.d-flex.flex-column.justify-content-end
              .mt-auto
              %button.btn.btn-block.btn-outline-dark{type: "button", "data-target" => "#hashtagModal", "data-toggle" => "modal"} Add New
          .table-responsive
            %table.table.mt-3.table-striped
              %thead
                %tr
                  %th{style: "width: 30px;"}
                    %i.far.fa-square.mr-4
                  %th
                    %label.text-muted{ style: "font-size: 13px;" } Hashtags
                  %th
              %tbody
                - if @records.size == 0
                  %tr
                    %td.text-center
                      %p.text-muted You haven’t added any hashtags to this community yet
                      %a.text-danger{ href: step3_communities_path } Click here to add one
                - @records.each do |community_hashtag|
                  %tr
                    %td
                      = check_box_tag "selected_accounts[]", community_hashtag.id, false, class: 'select_hashtag'
                    %td= "##{community_hashtag.hashtag}"
                    %td
                      %a.text-danger{ href: step3_communities_path } Edit
          %ul.pagination.pagination-sm.m-0.float-right
            = render partial: 'kaminari/paginator', locals: { custom_paginator: @filter }    
      .card
        .card-body
          .row.d-flex.justify-content-between
            .col
              .row
                %label Community contributors
              .row
                .mt-auto
                  %p.text-muted Add key contributors by searching for them below These contributors posts will be prominently featured to your community members.
          .row
            .col
              %label Your community contributors (0)
            .col-auto.d-flex.flex-column.justify-content-end
              .mt-auto
                %button.btn.btn-block.btn-outline-dark{type: "button"} Add New
          .table-responsive
            %table.table.mt-3.table-striped
              %thead
                %tr
                  %th
                    %i.far.fa-square.mr-4
                    %label.text-muted{ style: "font-size: 13px;" } Hashtags
              %tbody
                %tr
                  %td.text-center
                    %p.text-muted You have not added any hashtags to this community yet
                    %a.text-danger{ href: step2_communities_path } Click here to add one
      .row.d-flex.justify-content-between
        .col
          %a.btn.btn-outline-secondary{ href: step2_communities_path } Back
        .col-auto
          %a.btn.btn-danger{ href: step4_communities_path } Continue
      
            

          




        
          
             


