.container-fluid
  .row-md-12.my-4
    .col
      = carousel_indicators(@current_step, @community)
  .row
    .col-md-12
      .card
        .card-header
          %h3.card-title Step 3 - Add content
        .card-body
          = hidden_field_tag :community_id, @community.id, id: 'community_id'
          .row.d-flex
            .col-auto
              .row
                %label Content type
              .row
                .mt-auto
                  %p.text-muted.small At tincidunt ultrices auctor volutpat lectus.
          - if @community.channel?
            .row
              .d-flex.align-items-center.justify-content-between.mb-2
                %div
                  %label.form-check-label.switch
                    %input.form-check-input.switch-input#broadcast_channel_switch{ type: 'checkbox', checked: @content_type&.broadcast_channel? }
                    %span.switch-slider.round
                      %span.slider-tick
                        %i.fa-solid.fa-check
                      %span.slider-cross
                        %i.fa-solid.fa-xmark
                  %span.ml-2
                    Broadcast channel
                  %span
                    = render 'shared/tooltip_custom', tooltip_text: 'Broadcast channel', tooltip_position: 'left'
            %hr
            .row
              .d-flex.align-items-center.justify-content-between.mb-2
                %div
                  %label.form-check-label.switch
                    %input.form-check-input.switch-input#group_channel_switch{ type: 'checkbox', checked: @content_type&.group_channel? }
                    %span.switch-slider.round
                      %span.slider-tick
                        %i.fa-solid.fa-check
                      %span.slider-cross
                        %i.fa-solid.fa-xmark
                  %span.ml-2
                    Group channel
                  %span
                    = render 'shared/tooltip_custom', tooltip_text: 'The channel admin account will switch to follow-request mode.', tooltip_position: 'left'
          %hr
          .row
            .d-flex.align-items-center.justify-content-between.mb-2
              %div
                %label.form-check-label.switch
                  %input.form-check-input.switch-input#custom_channel_switch{ type: 'checkbox', checked: @content_type&.custom_channel?, data: { toggle: 'collapse', target: '#nested-options' }, disabled: @community.channel_feed? }
                  %span.switch-slider.round
                    %span.slider-tick
                      %i.fa-solid.fa-check
                    %span.slider-cross
                      %i.fa-solid.fa-xmark
                %span.ml-2
                  Custom channel
                %span
                  = render 'shared/tooltip_custom', tooltip_text: 'Custom channel', tooltip_position: 'left'

          .collapse#nested-options
            .nested-options.mt-2.ml-2
              .row
                .col
                  .form-check
                    = image_tag("icons/diagram-nested.svg", alt: "Nested diagram icon", class: "mr-2", width: "16", height: "16")
                    %label.form-check-label.switch
                      %input.form-check-input.switch-input#contributor_or{ type: 'checkbox', checked: @content_type&.or_condition? }
                      %span.switch-slider.round
                        %span.slider-tick
                          %i.fa-solid.fa-check
                        %span.slider-cross
                          %i.fa-solid.fa-xmark
                    %span.ml-2
                      Contributors or hashtags
              %hr
              .row.mt-2
                .col
                  .form-check
                    = image_tag("icons/diagram-nested.svg", alt: "nested diagram icon", class: "mr-2", width: "16", height: "16")
                    %label.form-check-label.switch
                      %input.form-check-input.switch-input#contributor_and{ type: 'checkbox', checked: @content_type&.and_condition? }
                      %span.switch-slider.round
                        %span.slider-tick
                          %i.fa-solid.fa-check
                        %span.slider-cross
                          %i.fa-solid.fa-xmark
                    %span.ml-2
                      Contributors and hashtags

      #hashtags-section{ style: "display: none;" }
        .card
          .card-body
            .row.d-flex.justify-content-between
              .col-auto
                .row
                  %label Hashtags
                .row
                  .mt-auto
                    %p.text-muted.small Add hashtags from the wider network to bring relevant posts into your channel.
              .col-auto.d-flex.flex-column.justify-content-end
                .mt-auto
                  %button.btn.btn-block.btn-outline-dark{type: "button", "data-target" => "#hashtagModal", "data-toggle" => "modal"} Add new
            .table-responsive
              %table.table.table-striped.no-side-borders.top-bottom-border.mt-3
                %thead
                  %tr
                    %th{style: "width: 30px;"}
                      %i.far.fa-square.mr-4
                    %th
                      %label.text-muted{ style: "font-size: 14px;" } Hashtags
                %tbody
                  - if @records.size == 0
                    %tr
                      %td.text-center{ colspan: 2 }
                        %p.text-muted.small You haven’t added any hashtags to this channel yet
                        %a.text-danger.small{ href: '#', title: 'Add new channel hashtag', 'data-toggle': 'modal', 'data-target': '#hashtagModal' }
                          Click here to add one
                  - @records.each do |community_hashtag|
                    %tr
                      %td
                        = check_box_tag "selected_accounts[]", community_hashtag.id, false, class: 'select_hashtag'
                      %td{ style: 'width: 90%;' }
                        = "##{community_hashtag.hashtag}"
                        %td
                          %a{ href: '#', "data-toggle" => "modal", "data-target" => "#editHashtagModal", "data-id" => community_hashtag.id, "data-hashtag" => community_hashtag.hashtag }
                            = image_tag("icons/edit-btn.svg", class: "ml-2", width: "16", height: "16")
                        %td
                          = link_to step3_delete_hashtag_community_path(id: @community.id, community_hashtag_id: community_hashtag.id), method: :post, data: { confirm: 'Are you sure?' }, class: 'text-danger', title: 'Delete', rel: 'nofollow' do
                            = image_tag("icons/trash-can.svg", class: "ml-2", width: "16", height: "16")
            .pagination.pagination-sm.m-0.float-right
              = paginate @records, theme: 'bootstrap4'
      #contributors-section{ style: "display: none;" }
        .card
          .card-body
            .row.d-flex.justify-content-between
              .col
                .row
                  %label Channel contributors
                .row
                  .mt-auto
                    %p.text-muted.small Add key contributors by searching for them below. Posts from these contributors will be prominently featured in your channel.
            .row
              .col
                %label
                  = "Your channel contributors (#{@follow_records.present? ? @follow_records.size : 0})"
              .col-auto.d-flex.flex-column.justify-content-end
                .mt-auto
                  %button.btn.btn-outline-secondary{title: 'Add a contributor', "data-toggle" => "modal", "data-target" => "#addContributorModal"} Add new
            .table-responsive
              %table.table.mt-3.table-striped
                %tbody
                  - if @follow_records.size == 0
                    %tr
                      %td.text-center
                        %p.text-muted.small You have not added any contributors to this channel yet
                        %a.text-danger.small{ href: '#', title: 'Add a contributor', 'data-toggle': 'modal', 'data-target': '#addContributorModal' }
                          Click here to add one
                  - @follow_records.each do |record|
                    %tr
                      %td{ style: 'width: 10%;' }
                        %img{ alt: "", src: record.avatar_url, class: "rounded-circle mr-2", style: "width: 70px; height: 70px; border: 2px solid white;" }
                      %td{ style: 'width: 80%;' }
                        = record.display_name
                        %br
                        %a{ href: "https://#{record.domain}/@#{record.username}", target: "_blank" }= "@#{record.username}@#{record.domain}"
                      %td{style: "width: 60px;"}
                        %button.btn.btn-sm.btn-outline-dark{ id: "follow_btn_#{record.id}", onclick: "unfollowContributor('#{record.id}', '#{@community.id}'); setTimeout(function() { location.reload(); }, 1000);" } Unfollow
            .pagination.pagination-sm.m-0.float-right
              = paginate @follow_records, theme: 'bootstrap4'
      #keyword-filters-section{ style: "display: none;" }
        .card
          .card-body
            .row.d-flex.justify-content-between
              .col-md-9-auto
                %label Keyword filtering (filter in)
                %p.text-muted.small Add keyword filters to allow posts from the wider network which contain this keyword from appearing in the channel.
              .col-md-3-auto.mt-auto
                %button.btn.btn-outline-secondary{title: 'Add keyword filtering', "data-toggle" => "modal", "data-target" => "#CommunityFilterModal"} Add new
            .table-responsive
              %table.table.table-striped.no-side-borders.top-bottom-border.mt-3
                %thead
                  %tr
                    %th{ style: 'width: 45%;' } Name
                    %th
                %tbody
                  - if @filter_keywords.size == 0
                    %tr
                      %td.text-center{ colspan: 3 }
                        %p.text-muted.small You haven’t added any keywords to this channel yet
                        %a.text-danger.small{ href: '#', title: 'Click here to add one', 'data-toggle': 'modal', 'data-target': '#CommunityFilterModal' }
                          Click here to add one
                  - @filter_keywords.each do |keyword|
                    %tr
                      %td{ style: 'width: 90%;' }= keyword.keyword
                      %td
                        %a{ href: '#', title: 'Edit keyword filtering', 'data-toggle': 'modal', 'data-target': '#CommunityFilterModal', 'data-id': keyword.id, 'data-is-filter-hashtag': keyword.is_filter_hashtag.to_s, 'data-keyword': keyword.keyword }
                          = image_tag("icons/edit-btn.svg", class: "ml-2", width: "16", height: "16")
                      %td
                        %a.text-danger{ href: community_filter_keyword_path(keyword, patchwork_community_id: @community.id, filter_type: keyword.filter_type), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete', rel: 'nofollow', 'data-method': 'delete' }
                          = image_tag("icons/trash-can.svg", class: "ml-2", width: "16", height: "16")
            .pagination.pagination-sm.m-0.float-right
              = paginate @filter_keywords, theme: 'bootstrap4'
      .row.d-flex.justify-content-between
        .col
          %a.btn.btn-outline-secondary{ href: step2_community_path } Back
        .col-auto
          - is_not_custom_channel = !@content_type&.custom_channel?
          -# - continue_path = is_not_custom_channel ? step5_community_path(id: @community.id) : step4_community_path(id: @community.id)
          - continue_path = is_not_custom_channel ? step6_community_path(id: @community.id) : step4_community_path(id: @community.id)
          %a.btn.btn-danger{ href:continue_path } Continue

= render 'add_contributor'
= render 'edit_hashtag'
= render 'add_hashtag'
= render 'keyword_filter'
