#postHashtagModel.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Add new channel hashtag
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %p.text-muted.small Add up to three hashtags which will be automatically added to posts made by users on your server when they post to this channel.
        = simple_form_for @form_post_hashtag, url: community_post_hashtags_path(@community) do |form|
          = form.hidden_field :community_id, value: @community.id
          .row
            .col
              .form-group
                = form.label :hashtags
                - max_hashtags = 3
                - remaining_hashtags = max_hashtags - @records.length
                - if remaining_hashtags > 0
                  - (1..remaining_hashtags).each do |i|
                    = form.text_field "hashtag#{max_hashtags - remaining_hashtags + i}", class: 'form-control my-2', value: '#', required: true
                - else
                  %p.text-muted.small You have already added the maximum of 3 hashtags.
          .modal-footer
            %div.d-flex.justify-content-between
              .col
                %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
              .col
                = form.submit 'Save changes', class: 'btn btn-danger'

#postHashtagEditModel.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Edit hashtag
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %p.text-muted.small Edit the hashtag for this channel.
        = simple_form_for @form_post_hashtag, url: '#', method: :patch, html: { id: 'edit-post-hashtag-form' } do |form|
          = form.hidden_field :community_id, value: @community.id
          = form.hidden_field :id, id: 'post_hashtag_id' # Hidden field for the hashtag ID
          .row
            .col
              .form-group
                = form.label :hashtag, "Hashtag"
                = form.text_field :hashtag, class: 'form-control', id: 'post_hashtag_name', required: true
          .modal-footer
            %div.d-flex.justify-content-between
              .col
                %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
              .col
                = form.submit 'Save changes', class: 'btn btn-danger'

.container-fluid
  .row-md-12.my-4
    .col
      = carousel_indicators(@current_step, @community)
  .row
    .col-md-12
      .card
        .card-header
          %h3.card-title Step 5 - Share content
        .card-body
          .row.d-flex.justify-content-between
            .col-md-10
              %label Hashtags
              %p.text-muted.small Choose a few hashtags that will be automatically added to posts made by users on your server when they post to this channel. The user can add more hashtags or remove them. This helps organise content on your server and boost its visibility in the wider federated network.
            .col-md-2-auto.mt-auto.mb-2.mr-2
              %button.btn.btn-outline-secondary{"data-toggle" => "modal", "data-target" => "#postHashtagModel"} Add new
          .table-responsive
            %table.table.mt-3.table-striped
              %thead
                %tr
                  %th{style: "width: 10px"}
                    %i.far.fa-square.mr-4
                  %th
                    %label.text-muted{ style: "font-size: 14px;" } Hashtags
                  %th{style: "width: 200px"}
              %tbody
                - if @records.size == 0
                  %tr
                    %td{ colspan: 3, class: "text-center" }
                      %p.text-muted.small You haven’t added any hashtags to this channel yet
                      %a.text-danger.small{ href: '#', title: 'Add new channel hashtag', 'data-toggle': 'modal', 'data-target': '#postHashtagModel' }
                        Click here to add one

                - @records.each do |record|
                  %tr
                    %td
                      %i.far.fa-square.mr-4
                    %td{ style: 'width: 90%;' }
                      %p= record.hashtag
                    %td
                      %a{"data-toggle" => "modal", "data-target" => "#postHashtagEditModel", "data-id" => record.id, "data-hashtag" => record.hashtag, "data-community-id" => @community.id, :class => 'edit-link'}
                        = image_tag("icons/edit-btn.svg", class: "ml-2", width: "16", height: "16")
                    %td
                      = link_to community_post_hashtag_path(@community, record), method: :delete, class: 'text-danger', data: { confirm: 'Are you sure?' } do
                        = image_tag("icons/trash-can.svg", class: "ml-2", width: "16", height: "16")

          .btn-group
            %button.btn.btn-default{type: "button"} Action
            %button.btn.btn-default.dropdown-toggle.dropdown-icon{"data-toggle" => "dropdown", type: "button"}
              %span.sr-only Toggle Dropdown
            .dropdown-menu{role: "menu"}
              %a.dropdown-item{href: "#"} Action
              %a.dropdown-item{href: "#"} Another action
              %a.dropdown-item{href: "#"} Something else here
              .dropdown-divider
              %a.dropdown-item{href: "#"} Separated link
      .row.d-flex.justify-content-between
        .col
          - is_not_custom_channel = !@content_type&.custom_channel?
          - back_path = is_not_custom_channel ? step3_community_path(id: @community.id) : step4_community_path(id: @community.id)
          %a.btn.btn-outline-secondary{ href: back_path } Back
        .col-auto
          %a.btn.btn-danger{ href: step6_community_path } Continue
