.container-fluid
  .row-md-12.my-4
    .col
      = carousel_indicators

  = simple_form_for @community, url: manage_additional_information_community_path, method: :post, html: { id: 'additionalForm' } do |form|
    .row
      .col-md-12
        .card
          .card-header
            -# %h3.card-title Step 6 - Additional information
            %h3.card-title Step #{fetch_display_step} Additional information
          .card-body
            .row
              .col
                %label Channel guidelines
                %p.text-muted.small This section lets you add any guidelines specific to this channel. You can include any important information users need to know before participating. Please ensure guidelines are clearly stated, and help maintain a respectful and organised environment. Please note these guidelines only apply to this channel, not the server as a whole.

            .table-responsive
              %table.table.mt-3
                %thead
                  %tr
                    %th{ style: 'width: 5%;' } No
                    %th{ style: 'width: 90%;' } Rule
                    %th{ style: 'width: 5%;' }
                %tbody.patchwork_community_rules
                  = form.simple_fields_for :patchwork_community_rules, allow_destroy: true do |f|
                    = render 'communities/patchwork_community_rule_fields', f: f

            .row
              .col.text-right
                = link_to_add_association 'Add another', form, :patchwork_community_rules, class: 'text-danger small', data: { association_insertion_node: '.patchwork_community_rules', association_insertion_method: :append }

    .row
      .col-md-12
        .card
          .card-body
            .row.d-flex.justify-content-between
              .col-md-9-auto
                %label Additional information
                %p.text-muted.small Provide any additional information relevant to this channel.

            .table-responsive
              %table.table.mt-3
                %thead
                  %tr
                    %th{ style: 'width: 30%;' } Heading
                    %th{ style: 'width: 65%;' } Information
                    %th{ style: 'width: 5%;' }
                %tbody.patchwork_community_additional_informations
                  = form.simple_fields_for :patchwork_community_additional_informations, allow_destroy: true do |f|
                    = render 'communities/patchwork_community_additional_information_fields', f: f

            .row
              .col.text-right
                = link_to_add_association 'Add another', form, :patchwork_community_additional_informations, data: { association_insertion_node: '.patchwork_community_additional_informations', association_insertion_method: :append }, class: 'text-danger small'

    .row
      .col-md-12
        .card.mb-3
          .card-body
            .row.d-flex.justify-content-between
              .col-md-9-auto
                %label Add links
                %p.text-muted.small These are the links that will appear in the left hand side bar of your channel page. These are useful for linking to any other pages you may wish to promote such as blogs, podcasts etc.

            .table-responsive
              %table.table.mt-3
                %thead
                  %tr
                    %th{ style: 'width: 20%;' } Icon
                    %th{ style: 'width: 30%;' } Name
                    %th{ colspan: 2, style: 'width: 50%;' } URL
                %tbody.patchwork_community_general_links
                  = form.simple_fields_for :general_links do |f|
                    = render 'communities/general_link_fields', f: f

            .row
              .col.text-right
                = link_to_add_association 'Add another', form, :general_links, data: { association_insertion_node: '.patchwork_community_general_links', association_insertion_method: :append }, class: 'text-danger small'

        .card
          .card-body
            .row.d-flex.justify-content-between
              .col-md-9-auto
                %label Add socials
                %p.text-muted.small These are the links that will appear in the left hand side bar of your channel page. These are useful for linking to any other pages you may wish to promote such as socials.

            .table-responsive
              %table.table.mt-3
                %thead
                  %tr
                    %th{ style: 'width: 20%;' } Icon
                    %th{ style: 'width: 30%;' } Name
                    %th{ colspan: 2, style: 'width: 50%;' } URL
                %tbody.patchwork_community_social_links
                  = form.simple_fields_for :social_links do |f|
                    = render 'communities/social_link_fields', f: f

            .row
              .col.text-right
                = link_to_add_association 'Add another', form, :social_links, data: { association_insertion_node: '.patchwork_community_social_links', association_insertion_method: :append }, class: 'text-danger small'

    .row.d-flex.justify-content-between
      .col
        -# %a.btn.btn-outline-secondary{ href: step5_community_path } Back
        %a.btn.btn-outline-secondary{ href: previous_path_for_step6(@community, @content_type) } Back
      .col-auto
        %button.btn.btn-danger#save-and-preview-btn Save & Preview

= render "preview_community"
