#postHashtagModel.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Add new community hashtag
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %p.text-muted.small Add up to three hashtags which will be automatically added to posts made by users on your server when they post to this channel.
        = simple_form_for @form_post_hashtag, url: step5_communities_path do |form|
          = form.hidden_field :community_id, value: @community.id
          .row
            .col
              .form-group
                = form.label :hashtags
                = form.text_field :hashtag1, class: 'form-control', value: '#', required: true
              .form-group
                = form.text_field :hashtag2, class: 'form-control', value: '#', required: true
              .form-group
                = form.text_field :hashtag3, class: 'form-control', value: '#', required: true
          .modal-footer
            %div.d-flex.justify-content-between
              .col
                %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
              .col
                = form.submit 'Save changes', class: 'btn btn-danger'

.container-fluid
  .row-md-12.my-4
    .col
      %ol.carousel-indicators
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-secondary{style: "width: 65px; height: 5px;"}
  .row
    .col-md-12
      .card
        .card-header
          %h3.card-title Step 5 - Share content
        .card-body
          .row.d-flex.justify-content-between
            .col-md-10
              %label Hashtags
              %p.text-muted.small Choose a few hashtags that will be automatically added to posts made by users on your server when they post to this channel. The user can add more hashtags or remove them. These hashtags help in organising content on your server and boost visibility in the wider federated network.
            .col-md-2.mt-5
              %button.btn.btn-outline-secondary{"data-toggle" => "modal", "data-target" => "#postHashtagModel"} Add New
          .row
            .col.d-flex
              %p.mr-2 Show
              .form-group.mr-2
                %select.form-control
                  %option 10
                  %option 20
                  %option 30
                  %option 40
                  %option 50
              %p entries
            .col-auto
              .card-tools
                = search_form_for @search, url: step5_communities_path do |f|
                  .input-group.input-group-sm{ style: "width: 150px;" }
                    = f.search_field :hashtag_cont, class: "form-control float-right", placeholder: "Search", type: "text"
                    .input-group-append
                      %button.btn.btn-default{ type: "submit" }
                        %i.fas.fa-search
          .table-responsive
            %table.table.mt-3.table-striped
              %thead
                %tr
                  %th{style: "width: 10px"}
                    %i.far.fa-square.mr-4
                  %th
                    %label Hashtags
                  %th{style: "width: 200px"}
              %tbody
                - @records.each do |record|
                  %tr
                    %td
                      %i.far.fa-square.mr-4
                    %td
                      %p "#{record.hashtag}"
                    %td
                      %a.text-danger.mr-2{ href: step2_communities_path } Edit
                      %a.text-danger{ href: step2_communities_path } Remove
          %ul.pagination.pagination-sm.m-0.float-right
            = render partial: 'kaminari/paginator', locals: { custom_paginator: @filter }
          .btn-group
            %button.btn.btn-default{type: "button"} Action
            %button.btn.btn-default.dropdown-toggle.dropdown-icon{"data-toggle" => "dropdown", type: "button"}
              %span.sr-only Toggle Dropdown
            .dropdown-menu{role: "menu"}
              %a.dropdown-item{href: "#"} Action
              %a.dropdown-item{href: "#"} Another action
              %a.dropdown-item{href: "#"} Something else here
              .dropdown-divider
              %a.dropdown-item{href: "#"} Separated link
      .row.d-flex.justify-content-between
        .col
          %a.btn.btn-outline-secondary{ href: step4_communities_path } Back
        .col-auto
          %a.btn.btn-danger{ href: step6_communities_path } Continue

= render 'post_hashtag'
