#hashtagModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Add new community hashtag
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %p.text-muted.small Add a community hashtag using the form below. Every post on this hashtag will appear in the community. This allows community members to post to the community even when they’re somewhere else in the network.
        = simple_form_for @community_hashtag_form, url: step3_communities_path do |form|
          = form.hidden_field :community_id, value: @community.id
          .row
            .col
              .form-group
                = form.label :hashtag
                = form.text_field :hashtag, class: 'form-control', value: '#'
          .modal-footer
            %div.d-flex.justify-content-between
              .col
                %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Close
              .col
                = form.submit 'Save', class: 'btn btn-danger'

.container-fluid
  .row-md-12.my-4
    .col
      %ol.carousel-indicators
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-secondary{style: "width: 65px; height: 5px;"}
        %li.bg-secondary{style: "width: 65px; height: 5px;"}
        %li.bg-secondary{style: "width: 65px; height: 5px;"}
  .row
    .col-md-12
      .card
        .card-header
          %h3.card-title Step 3 - Add content
        .card-body
          .row.d-flex.justify-content-between
            .col-auto
              .row
                %label Hashtags
              .row
                .mt-auto
                  %p.text-muted.small Add hashtags from the wider network to bring relevant posts into your community.
            .col-auto.d-flex.flex-column.justify-content-end
              .mt-auto
                %button.btn.btn-block.btn-outline-dark{type: "button", "data-target" => "#hashtagModal", "data-toggle" => "modal"} Add New
          .table-responsive
            %table.table.table-striped.no-side-borders.top-bottom-border.mt-3
              %thead
                %tr
                  %th{style: "width: 30px;"}
                    %i.far.fa-square.mr-4
                  %th
                    %label.text-muted{ style: "font-size: 13px;" } Hashtags
              %tbody
                - if @records.size == 0
                  %tr
                    %td.text-center{ colspan: 2 }
                      %p.text-muted.small You haven’t added any hashtags to this community yet
                      %a.text-danger.small{ href: step3_communities_path } Click here to add one
                - @records.each do |community_hashtag|
                  %tr
                    %td{style: "width: 30px;"}
                      = check_box_tag "selected_accounts[]", community_hashtag.id, false, class: 'select_hashtag'
                    %td
                      = "##{community_hashtag.hashtag}"
                    %td{style: "width: 200px;"}
                      %a.text-danger.mr-2{ href: step3_communities_path } Edit
                      %a.text-danger{ href: step3_communities_path } Remove
          %ul.pagination.pagination-sm.m-0.float-right
            = render partial: 'kaminari/paginator', locals: { custom_paginator: @filter }
      .card
        .card-body
          .row.d-flex.justify-content-between
            .col
              .row
                %label Community contributors
              .row
                .mt-auto
                  %p.text-muted.small Add key contributors by searching for them below. Posts from these contributors will be prominently featured in your community.
          .row
            .col
              %label Your community contributors (0)
            .col-auto.d-flex.flex-column.justify-content-end
              .mt-auto
                %button.btn.btn-outline-secondary{"data-toggle" => "modal", "data-target" => "#addContributorModal"} Add New
          .table-responsive#followed_contributors
      .row.d-flex.justify-content-between
        .col
          %a.btn.btn-outline-secondary{ href: step2_communities_path } Back
        .col-auto
          %a.btn.btn-danger{ href: step4_communities_path } Continue

= render 'add_contributor'











