.container-fluid
  .row-md-12.my-4
    .col
      %ol.carousel-indicators
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-danger.active{style: "width: 65px; height: 5px;"}
        %li.bg-secondary{style: "width: 65px; height: 5px;"}
        %li.bg-secondary{style: "width: 65px; height: 5px;"}
  .row
    .col-md-12
      .card
        .card-header
          %h3.card-title Step 4 - Filter Content
        .card-body
          .row
            .col
              %label Type of posts
              %p.text-muted.small Select which types of content from hashtags and key contributors are excluded from this channel.
          .row
            .col.card.list-group-item
              .icheck-primary
                %input.mr-2#check1{type: "checkbox", value: ""}/
                Posts
          .row
            .col.card.list-group-item
              .icheck-primary
                %input.mr-2#check1{type: "checkbox", value: ""}/
                Reposts
          .row
            .col.card.list-group-item
              .icheck-primary
                %input.mr-2#check1{type: "checkbox", value: ""}/
                Replies
      .card
        .card-body
          .row
            .col
              %label Mute accounts
              %p.text-muted.small Choose accounts to Mute from the Community.
          .row.d-flex.justify-content-between
            .col-auto
              %label Your muted contributors (0)
            .col-auto
              %button.btn.btn-outline-secondary{"data-toggle" => "modal", "data-target" => "#muteContributorModal"} Search
          .table-responsive
            %table.table.mt-3.table-striped
              %tbody
                - if @muted_accounts.size == 0
                  %tr
                    %td.text-center
                      %p.text-muted.small You haven’t muted any contributors from this community yet
                      %a.text-danger.small{ href: '#', title: 'Mute a contributor', 'data-toggle': 'modal', 'data-target': '#muteContributorModal' }
                        Click here to search
                - @muted_accounts.each do |account|
                  %tr
                    %td{ style: 'width: 20%;' }
                      %img{ alt: "", src: asset_path('patchwork-logo.svg'), class: "rounded-circle mr-2", style: "width: 70px; height: 70px; border: 2px solid white;" }
                    %td{ style: 'width: 70%;' }
                      %h6.mb-0= account.username
                      %p.text-muted.mb-0= raw(account.note)
                    %td{ style: 'width: 10%;' }
                      = form_with url: unmute_contributor_communities_path, method: :post, remote: true, authenticity_token: true do |form|
                        = form.hidden_field :account_id, value: account.id
                        %button.btn.btn-outline-secondary{ type: 'submit' }
                          Unmute
      .card
        .card-body
          .row.d-flex.justify-content-between
            .col-md-9-auto
              %label Keyword filtering
              %p.text-muted.small Add keyword filters to prevent posts from the wider network which contain this keyword from appearing in the channel.
            .col-md-3-auto.mt-auto
              %button.btn.btn-outline-secondary{title: 'Add keyword filtering', "data-toggle" => "modal", "data-target" => "#CommunityFilterModal"} Add New
          .table-responsive
            %table.table.mt-3.table-striped
              %tbody
                - if @filter_keywords.size == 0
                  %tr
                    %td.text-center
                      %p.text-muted.small You haven’t muted any keywords from this channel yet
                      %a.text-danger.small{ href: '#', title: 'Click here to add one', 'data-toggle': 'modal', 'data-target': '#CommunityFilterModal' }
                        Click here to add one
                - @filter_keywords.each do |keyword|
                  %tr
                    %td{ style: 'width: 80%;' }= keyword.keyword
                    %td
                      %a.text-danger{ href: '#', title: 'Edit keyword filtering', 'data-toggle': 'modal', 'data-target': '#CommunityFilterModal', 'data-id': keyword.id, 'data-is-filter-hashtag': keyword.is_filter_hashtag.to_s, 'data-keyword': keyword.keyword }
                        Edit
                    %td
                      %a.text-danger{ href: community_filter_keyword_path(keyword), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete', rel: 'nofollow', 'data-method': 'delete' }
                        Remove

      .row.d-flex.justify-content-between
        .col
          %a.btn.btn-outline-secondary{ href: step3_communities_path } Back
        .col-auto
          %a.btn.btn-danger{ href: step5_communities_path } Continue

= render 'mute_contributor'
= render 'keyword_filter'
