.container-fluid
  .row-md-12.my-4
    .col
      = carousel_indicators
  .row
    .col-md-12
      .card
        .card-header
          %h3.card-title Step #{fetch_display_step} Admin and public feed details
        .card-body.overflow-auto
          .row.d-flex.justify-content-between
            .col-auto
              .row
                %label Administrator
              .row
                .mt-auto
                  %p.text-muted.small Assign additional administrators to your channel by providing their details below.
            - if @community.channel? || @records.size == 0
              .col-auto.d-flex.flex-column.justify-content-end
                .mt-auto
                  %button.btn.btn-block.btn-outline-dark{type: "button", "data-target" => "#communityAdminModal", "data-toggle" => "modal", "data-hide-boost-bot" => (@records.size != 0).to_s} Add new
          %table.table.table-striped.no-side-borders.top-bottom-border.mt-3
            %thead
              %tr
                %th.align-left
                  = check_box_tag :select_all, '', false, id: 'select_all'
                %th Display name
                %th Username
                %th Email address
                %th Role
                %th
            %tbody
              - if @records.size == 0
                %tr
                  %td.text-center.info-box-content{colspan: "100%"}
                    %p.text-muted.small You haven’t added any administrators to this channel yet
                    %a.text-danger.small{href: "#", "data-toggle" => "modal", "data-target" => "#communityAdminModal"}
                      Click here to add one
              - @records.each_with_index do |community_admin, index|
                %tr
                  %td.text-center
                    = check_box_tag "selected_accounts[]", community_admin.id, false, class: 'select_account'
                  %td= community_admin.display_name
                  %td= community_admin.username
                  %td= community_admin.email
                  %td= community_admin.role.present? ? "#{community_admin.role.titleize.gsub('Admin', 'admin')}#{' | Public feed' if community_admin.is_boost_bot?}" : community_admin.is_boost_bot? ? 'Public feed' : ''
                  %td
                    %a{
                      href: "#",
                      "data-target" => "#communityAdminModal",
                      "data-toggle" => "modal",
                      "data-admin-id": community_admin.id,
                      "data-display-name": community_admin.display_name,
                      "data-username": community_admin.username,
                      "data-email": community_admin.email,
                      "data-password": community_admin.password,
                      "data-role": community_admin.role,
                      "data-is-boost-bot": community_admin.is_boost_bot.to_s,
                      "data-hide-boost-bot": (@community.channel? && index > 0).to_s
                    }
                      = image_tag("icons/eye.svg", class: "ml-2", width: "16", height: "16", style: "filter: invert(21%) sepia(82%) saturate(7471%) hue-rotate(356deg) brightness(99%) contrast(112%);")
          .pagination.pagination-sm.m-0.float-right.mt-1
            = paginate @records, theme: 'bootstrap4'
          - unless @community.hub?
            - if user_admin? || @community&.channel_feed? || newsmast_admin? || @community&.newsmast?
              .col-auto.mt-3.bg-light
                .row
                  %label.small Public feed role
                .row
                  .mt-auto
                    %p.text-muted.small If the public feed role is assigned, it will boost posts and the account can be used to login to the mobile app.
            - else
              .col-auto.mt-3.bg-light
                .row
                  %label.small Organisation admin role
                .row
                  .mt-auto
                    %p.text-muted.small If the organisation admin role is assigned, the account can be used to access the dashboard system to edit the assigned Channel.
            .col-auto.mt-3
              .row
                %label.mb-0 Progress of Bluesky bridging
              .row
                .mt-auto
                  - if @records.size == 0
                    %p.text-muted.small Channel admin doesn't exist.
                  - else
                    .bluesky-bridge-progress-bar
                      .bluesky-step
                        .blue-sky-circle.completed
                          = image_tag("icons/bluesky.svg", width: "16", height: "16")
                        .bluesky-step-content
                          %p Bluesky bridged information:
                          - if bridged_completely?(@community, @bluesky_info)
                            %p
                              = link_to bridged_handle(@community, @bluesky_info), bridged_account_url(@community, @bluesky_info), target: '_blank'
                          - else
                            - error_msg = check_account_info(@community)
                            - if error_msg.nil?
                              %p.text-warning In progress...
                            - else
                              %p.text-danger
                                = error_msg

      .row.d-flex.justify-content-between
        .col-auto
          %a.btn.btn-outline-secondary{ href: step1_communities_path(id: @community.id, channel_type: @community&.channel_type) } Back
        .col-auto
        %a.btn.btn-danger{
          href: continue_path_for_step2(@community),
          class: continue_button_class(@records)
        } Continue


= render 'community_admin_modal'
