.container-fluid
  .row-md-12.my-4
    .col
      = carousel_indicators

  - is_not_custom_channel = !@content_type&.custom_channel?
  .row
    .col-md-12
      .card{ class: ("d-none" if is_not_custom_channel) }
        .card-header
          %h3.card-title Step #{fetch_display_step} Filter content
        .card-body
          .row
            .col
              = simple_form_for [@community, @community_post_type], url: community_community_post_type_path(@community), remote: true, html: { id: 'community_post_type_form' } do |f|
                = hidden_field_tag :continue, "true", id: "continue_field" if @community.channel?
                %label Type of posts
                %p.text-muted.small Select which types of content are <strong>included</strong> in this channel.

                .row
                  .col.card.list-group-item
                    .form-check
                      = f.check_box :posts, class: 'form-check-input red-check-box mr-2 my-2'
                      = f.label :posts, 'Posts', class: 'form-check-label my-1'

                .row
                  .col.card.list-group-item
                    .form-check
                      = f.check_box :reposts, class: 'form-check-input red-check-box mr-2 my-2'
                      = f.label :reposts, 'Reposts', class: 'form-check-label my-1'

                .row
                  .col.card.list-group-item
                    .form-check
                      = f.check_box :replies, class: 'form-check-input red-check-box mr-2 my-2'
                      = f.label :replies, 'Replies', class: 'form-check-label my-1'

      .card{ class: ("d-none" if is_not_custom_channel) }
        .card-body
          .row
            .col
              %label Mute accounts
              %p.text-muted.small Choose accounts to Mute from the channel.
          .row.d-flex.justify-content-between
            .col-auto
              %label Your muted contributors (#{@muted_accounts.present? ? @muted_accounts_size : 0})
            .col-3-auto
              %button.btn.btn-outline-secondary{"data-toggle" => "modal", "data-target" => "#muteContributorModal"} Search
          .table-responsive
            %table.table.mt-3.table-striped
              %tbody
                - if @muted_accounts.size == 0
                  %tr
                    %td.text-center
                      %p.text-muted.small You haven’t muted any contributors from this channel yet
                      %a.text-danger.small{ href: '#', title: 'Mute a contributor', 'data-toggle': 'modal', 'data-target': '#muteContributorModal' }
                        Click here to search
                - @muted_accounts.each do |account|
                  %tr
                    %td{ style: 'width: 10%;' }
                      %img{ alt: "", src: account.avatar_url, class: "rounded-circle mr-2", style: "width: 70px; height: 70px; border: 2px solid white;" }
                    %td{ style: 'width: 80%;' }
                      = render_custom_emojis(account.display_name)
                      - domain = account&.domain.present? ? "https://#{account.domain}" : ENV.fetch('MASTODON_INSTANCE_URL', nil)
                      %br
                      %a{ href: "#{account.url}", target: "_blank" }= "@#{account.username}@#{account.domain || 'channel.org'}"
                    %td{style: "width: 60px;"}
                      = form_with url: unmute_contributor_community_path, method: :post, remote: true, authenticity_token: true do |form|
                        = form.hidden_field :account_id, value: account.id
                        %button.btn.btn-sm.btn-outline-secondary{ type: 'submit' }
                          Unmute

          .pagination.pagination-sm.m-0.float-right
            = paginate @muted_accounts, theme: 'bootstrap4'

      .card{ class: ("d-none" if is_not_custom_channel) }
        .card-body
          .row.d-flex.justify-content-between
            .col-md-9-auto
              %label Mute keywords
              %p.text-muted.small Add keyword filters to prevent posts from the wider network which contain this keyword from appearing in the channel.
            .col-md-3-auto.mt-auto
              %button.btn.btn-outline-secondary{title: 'Add keyword filtering', "data-toggle" => "modal", "data-target" => "#CommunityFilterModal"} Add new
          .table-responsive
            %table.table.table-striped.no-side-borders.top-bottom-border.mt-3
              %thead
                %tr
                  %th{ style: 'width: 45%;' } Name
                  %th{ style: 'width: 45%;' } Hashtag?
                  %th
              %tbody
                - if @filter_keywords.size == 0
                  %tr
                    %td.text-center.text-center{ colspan: 3 }
                      %p.text-muted.small You haven’t added any keywords to this channel yet
                      %a.text-danger.small{ href: '#', title: 'Click here to add one', 'data-toggle': 'modal', 'data-target': '#CommunityFilterModal' }
                        Click here to add one
                - @filter_keywords.each do |keyword|
                  %tr
                    %td{ style: 'width: 45%;' }= keyword.keyword
                    %td{ style: 'width: 45%;' }
                      %i{ class: "fa-solid #{keyword.is_filter_hashtag ? 'fa-check' : 'fa-xmark'}", style: "color: #{keyword.is_filter_hashtag ? 'green' : 'red'}" }
                    %td
                      %a{ href: '#', title: 'Edit keyword filtering', 'data-toggle': 'modal', 'data-target': '#CommunityFilterModal', 'data-id': keyword.id, 'data-is-filter-hashtag': keyword.is_filter_hashtag.to_s, 'data-keyword': keyword.keyword }
                        = image_tag("icons/edit-btn.svg", class: "ml-2", width: "16", height: "16")
                    %td
                      %a.text-danger{ href: community_filter_keyword_path(keyword, patchwork_community_id: @community.id), method: :delete, data: { confirm: 'Are you sure?' }, title: 'Delete', rel: 'nofollow', 'data-method': 'delete' }
                        = image_tag("icons/trash-can.svg", class: "ml-2", width: "16", height: "16")
          .pagination.pagination-sm.m-0.float-right
            = paginate @filter_keywords, theme: 'bootstrap4'
      .row.d-flex.justify-content-between
        .col
          %a.btn.btn-outline-secondary{ href: step3_community_path } Back
        - if @community.channel_feed? || @community.newsmast?
          .col-auto
            = button_tag 'Save & Preview', type: 'submit', form: 'community_post_type_form', class: 'btn btn-block btn-danger', data: { toggle: 'modal', target: '#previewCommunityModal' }
        - else
          .col-auto
            -# %a.btn.btn-danger{ href: step5_community_path } Continue
            = button_tag 'Continue', type: 'submit', form: 'community_post_type_form', class: 'btn btn-danger', onclick: "$('#continue_field').val('true');"

= render 'mute_contributor'
= render 'keyword_filter'
= render 'preview_community'

:javascript
  document.addEventListener('ajax:success', function(event) {
    const [data, status, xhr] = event.detail;

    if (xhr.responseText.includes("window.location")) {
      eval(xhr.responseText);
    } else {
      $('#previewCommunityModal').modal('show');
    }
  });
