#addCommunityRuleModel.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Create rule
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      .modal-body
        %p.text-muted.small Add rule for this channel.
        = simple_form_for @rule_from, url: step6_rule_create_community_path do |form|
          = form.hidden_field :community_id, value: @community.id
          .row
            .col
              .form-group
                = form.label :rule, "Rule"
                = form.text_field :description, class: 'form-control', id: 'description', required: true
          .modal-footer
            %div.d-flex.justify-content-between
              .col
                %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
              .col
                = form.submit 'Save changes', class: 'btn btn-danger'
.container-fluid
  .row-md-12.my-4
    .col
      = carousel_indicators(@current_step, @community)
  .row
    .col-md-12
      .card
        .card-header
          -# %h3.card-title Step 6 - Additional information
          %h3.card-title Step 5 - Additional information
        .card-body
          .row
            .col
              %label Channel guidelines
              %p.text-muted.small This section lets you add any guidelines specific to this channel. You can include any important information users need to know before participating. Please ensure guidelines are clearly stated, and help maintain a respectful and organised environment. Please note these guidelines only apply to this channel, not the server as a whole.
          .row.mb-2
            .col-auto.d-flex.align-items-center.justify-content-center{ style: "width: 50px;" }
              No.
            .col-auto
              Rule
          - @rule_records.each_with_index do |record, index|
            .row.mb-2
              .col-auto
                .position-relative.d-inline-block
                  %i.fas.fa-circle.fa-2x.text-blue
                  %span.position-absolute.index-text= index + 1
              .col
                %input.form-control{ type: 'text', value: record.rule.description, readonly: true }
          .row
            .col.text-right
              %a.text-danger.small{"data-toggle" => "modal", "data-target" => "#addCommunityRuleModel", :class => 'edit-link'} Add another rule

  = simple_form_for @community, url: manage_additional_information_community_path, method: :post, html: { id: 'additionalForm' } do |form|
    .row
      .col-md-12
        .card
          .card-body
            .row.d-flex.justify-content-between
              .col-md-9-auto
                %label Additional Information
                %p.text-muted.small Provide any additional information relevant to this channel.

            .table-responsive
              %table.table.mt-3
                %thead
                  %tr
                    %th{ style: 'width: 30%;' } Heading
                    %th{ style: 'width: 65%;' } Text
                    %th{ style: 'width: 5%;' }
                %tbody.patchwork_community_additional_informations
                  = form.simple_fields_for :patchwork_community_additional_informations, allow_destroy: true do |f|
                    = render 'communities/patchwork_community_additional_information_fields', f: f

            .row
              .col.text-right
                = link_to_add_association 'Add Information', form, :patchwork_community_additional_informations, data: { association_insertion_node: '.patchwork_community_additional_informations', association_insertion_method: :append }, class: 'text-danger small'

    .row
      .col-md-12
        .card
          .card-body
            .row.d-flex.justify-content-between
              .col-md-9-auto
                %label Add links
                %p.text-muted.small These are the links that will appear in the left hand side bar of your channel page. These are useful for linking to any other pages you may wish to promote such as socials, blogs, podcasts etc.

            .table-responsive
              %table.table.mt-3
                %thead
                  %tr
                    %th{ style: 'width: 20%;' } Icon
                    %th{ style: 'width: 30%;' } Name
                    %th{ colspan: 2, style: 'width: 50%;' } URL
                %tbody.patchwork_community_links
                  = form.simple_fields_for :patchwork_community_links, allow_destroy: true do |f|
                    = render 'communities/patchwork_community_link_fields', f: f

            .row
              .col.text-right
                = link_to_add_association 'Add Link', form, :patchwork_community_links, data: { association_insertion_node: '.patchwork_community_links', association_insertion_method: :append }, class: 'text-danger small'

    .row.d-flex.justify-content-between
      .col
        -# %a.btn.btn-outline-secondary{ href: step5_community_path } Back
        %a.btn.btn-outline-secondary{ href: step4_community_path } Back
      .col-auto
        %button.btn.btn-danger#save-and-preview-btn Save & Preview

= render "preview_community"
