#myModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title Add New admin
        %button.close{ type: 'button', 'data-dismiss': 'modal', 'aria-label': 'Close' }
          = image_tag 'icons/circle-xmark.svg', alt: 'Close', width: 18, height: 18, 'aria-hidden': 'true'
      .modal-body
        = simple_form_for @new_admin_form, url: step2_communities_path do |form|
          = form.hidden_field :community_id, value: @community.id
          .row
            .col
              .form-group
                = form.label :community
                = form.text_field :community, class: 'form-control', value: @community.name, disabled: true
            .col
              .form-group
                = form.label :role
                = form.text_field :role, class: 'form-control', value: 'Admin', disabled: true
          .row
            .col
              .form-group
                = form.label :display_name
                = form.text_field :display_name, class: 'form-control'
            .col
              .form-group
                = form.label :user_name
                = form.text_field :username, class: 'form-control'
          .row
            .col
              .form-group
                = form.label :email_address
                = form.text_field :email, class: 'form-control'
          .row
            .col
              .form-group.position-relative.password
                = form.label :password, 'Password', class: 'form-label'
                = password_field_tag :password, nil, class: 'form-control'
                %i.fa-solid.fa-eye-slash.red{onclick: 'window.togglePassword(this)'}
          .modal-footer
            %div.d-flex.justify-content-end
              .col
                %button.btn.btn-secondary{"data-dismiss" => "modal", :type => "button"} Cancel
              .col
                = form.submit 'Save changes', class: 'btn btn-danger'

%section.content
  .container-fluid
    .row-md-12.my-4
      .col
        %ol.carousel-indicators
          %li.bg-danger.active{style: "width: 65px; height: 5px;"}
          %li.bg-danger.active{style: "width: 65px; height: 5px;"}
          %li.bg-secondary{style: "width: 65px; height: 5px;"}
          %li.bg-secondary{style: "width: 65px; height: 5px;"}
          %li.bg-secondary{style: "width: 65px; height: 5px;"}
          %li.bg-secondary{style: "width: 65px; height: 5px;"}
    .row
      .col-md-12
        .card
          .card-header
            %h3.card-title Step 2 - Admin Details
          .card-body.table.table-bordered
            .row.d-flex.justify-content-between
              .col-auto
                .row
                  %label Administrators
                .row
                  .mt-auto
                    %p.text-muted Assign administrators to your community by providing their details below.
              .col-auto.d-flex.flex-column.justify-content-end
                .mt-auto
                  %button.btn.btn-block.btn-outline-dark{type: "button", "data-target" => "#myModal", "data-toggle" => "modal"} Add New
            %table.table.mt-3
              %thead
                %tr
                  %th
                    = check_box_tag :select_all, '', false, id: 'select_all'
                  %th Display name
                  %th Username
                  %th Email address
                  %th Role
                  %th
              %tbody
                - if @records.size == 0
                  %tr
                    %td.text-center.info-box-content{colspan: "100%"}
                      %p.text-muted You haven’t added any hashtags to this community yet
                      %a.text-danger{ href: step2_communities_path } Click here to add one
                - @records.each do |community_admin|
                  %tr
                    %td
                      = check_box_tag "selected_accounts[]", community_admin.account.id, false, class: 'select_account'
                    %td= community_admin.account.display_name
                    %td= community_admin.account.username
                    %td= community_admin.account&.user&.email
                    %td= community_admin.account&.user&.role&.name
                    %td
                      %a.text-danger{ href: step2_communities_path } Edit
        .row.d-flex.justify-content-between
          .col-auto
            %a.btn.btn-outline-secondary{ href: step1_communities_path } Back
          .col-auto
            %a.btn.btn-danger{ href: step3_communities_path } Continue
