- channel_type_param = params[:channel_type]
- title = channel_type_param == 'channel' ? 'Communities' : 'Channels'
- create_path = create_community_path(channel_type_param)
- keyword = determine_channel_keyword(channel_type_param)

- content_for :title do
  = #{title}

.row
  .col-12
    .card
      .card-header
        %h3.card-title #{title}
        .card-tools
          = search_form_for @search, url: communities_path, method: :get do |f|
            .input-group.input-group-sm{style: "width: 250px;"}
              = f.search_field :name_cont, class: "form-control float-right", placeholder: "Search"
              = f.hidden_field :channel_type, value: channel_type_param
              .input-group-append
                %button.btn.btn-default{type: "submit"}
                  %i.fas.fa-search
      .card-body
        %p.text-muted Here you can see a list of all the #{title.downcase} on your server. From this dashboard, you can easily import #{title.downcase} hosted on other servers, create new ones hosted here or manage your existing #{title.downcase}.
        %table.table.no-side-borders.top-bottom-border{data: {url: accounts_url, type: 'account'}}
          %thead
            %tr
              %th.align-left
                = check_box_tag :select_all, '', false, id: 'select_all'
              %th #{title}
              %th Username
              %th Following
              %th #{keyword.capitalize} type
              %th Status
              %th Edit
          %tbody
            - if @records.size == 0
              %tr
                %td.text-center.info-box-content{colspan: "100%"}
                  %p.text-muted.small You haven’t added any #{title.downcase} yet
                  - unless organisation_admin?
                    %a.text-danger.small{ href: create_path } Click here to add one
            - @records.each do |community|
            - account = community&.community_admins&.first&.account
              %tr
                %td.text-center
                  = check_box_tag "selected_communities[]", community.id, false, class: 'select_community'
                %td= community.name
                %td
                  - if account.present?
                    %span.copyable-text{title: "Click to copy", style: "cursor: pointer;", onclick: "copyToClipboard('#{account_url(account)}')"}= "@#{username(account)}@#{domain(account)}"
                  - else
                    %span.text-muted -
                %td
                  - if account&.follower_count && account&.follower_count > 0
                    %a{ href: follower_list_community_url(id: community), title: "view followers", style: "display: flex; align-items: center;" }
                      = image_tag("icons/eye.svg", width: "20", height: "20", style: "margin-right: 5px;")
                      = account&.follower_count
                  - else
                    %a{ href: "#", title: "no followers", style: "display: flex; align-items: center;" }
                      = image_tag("icons/eye.svg", width: "20", height: "20", style: "margin-right: 5px;")
                      0
                %td= get_channel_content_type(community)
                %td
                  - if community.visibility.present?
                    %span.badge.badge-pill.badge-success Complete
                  - else
                    %span.badge.badge-pill.badge-warning Incomplete
                %td
                  %a{ href: edit_community_path(channel_type_param, community) }
                    = image_tag("icons/edit-btn.svg", class: "ml-2", width: "16", height: "16")

        - if master_admin?
          .row.mt-2
            .col
              -#%div.btn-group
                  %button.btn.btn-default{type: "button"} Action
                  %button.btn.btn-default.dropdown-toggle.dropdown-hover.dropdown-icon{type: "button", "data-toggle" => "dropdown"}
                    %span.sr-only Toggle Dropdown
                  .dropdown-menu{role: "menu"}
                    %a.dropdown-item{href: "#"} Action
                    %a.dropdown-item{href: "#"} Another action
                    %a.dropdown-item{href: "#"} Something else here
                    .dropdown-divider
                    %a.dropdown-item{href: "#"} Separated link
            .col
              .pagination.pagination-sm.m-0.float-right
                = paginate @records, theme: 'bootstrap4'

          .row.mt-4
            .col-12.d-flex.justify-content-center
              %div.btn-group
                %button.btn.btn-outline-secondary{ onclick: "window.location='#{communities_path}'" }
                  Import a #{keyword}
                  = image_tag("icons/circle-left.svg", class: "ml-2", width: "16", height: "16")
                %button.btn.btn-danger.ml-3{ onclick: "window.location='#{create_path}'" }
                  Create a #{keyword}
                  = image_tag("icons/circle-plus.svg", class: "ml-2", width: "16", height: "16")
