- content_for :title do
  = 'Local channels'

.row
  .col-12
    .card
      .card-header
        %h3.card-title Local channels
        .card-tools
          = search_form_for @search do |f|
            .input-group.input-group-sm{style: "width: 150px;"}
              = f.search_field :name_cont, class: "form-control float-right", placeholder: "Search"
              .input-group-append
                %button.btn.btn-default{type: "submit"}
                  %i.fas.fa-search
      .card-body
        %p.text-muted Here you can see a list of all the channels on your server. From this dashboard, you can easily import channels hosted on other servers, create new ones hosted here or manage your existing channels.
        %table.table.no-side-borders.top-bottom-border{data: {url: accounts_url, type: 'account'}}
          %thead
            %tr
              %th.align-left
                = check_box_tag :select_all, '', false, id: 'select_all'
              %th Channels
              %th Name
              %th No.of admins
              %th
          %tbody
            - if @records.size == 0
              %tr
                %td.text-center.info-box-content{colspan: "100%"}
                  %p.text-muted.small You haven’t added any hashtags to this community yet
                  %a.text-danger.small{ href: step1_communities_path } Click here to add one
            - @records.each do |community|
              %tr
                %td.text-center
                  = check_box_tag "selected_communities[]", community.id, false, class: 'select_community'
                %td= community.name
                %td= community.slug
                %th= community.community_admins.size
                %th
        .row.mt-2
          .col
            %div.btn-group
              %button.btn.btn-default{type: "button"} Action
              %button.btn.btn-default.dropdown-toggle.dropdown-hover.dropdown-icon{type: "button", "data-toggle" => "dropdown"}
                %span.sr-only Toggle Dropdown
              .dropdown-menu{role: "menu"}
                %a.dropdown-item{href: "#"} Action
                %a.dropdown-item{href: "#"} Another action
                %a.dropdown-item{href: "#"} Something else here
                .dropdown-divider
                %a.dropdown-item{href: "#"} Separated link
          .col
            %ul.pagination.pagination-sm.m-0.float-right
              = render partial: 'kaminari/paginator', locals: { custom_paginator: @filter }
        .row.mt-4
          .col-12.d-flex.justify-content-center
            %div.btn-group
              %button.btn.btn-outline-secondary{ onclick: "window.location='#{communities_path}'" }
                Import a channel
                = image_tag("icons/circle-left.svg", class: "ml-2", width: "16", height: "16")
              %button.btn.btn-danger.ml-3{ onclick: "window.location='#{step1_communities_path(new_community: 'true')}'" }
                Create a channel
                = image_tag("icons/circle-plus.svg", class: "ml-2", width: "16", height: "16")
