- content_for :title do
  = @community.name

.row.community-detail
  .col-12
    .card
      .card-header
        %h3.card-title 
          %strong
            = @community.name
            - if @type == 'community-admin'
              = '- Admins'
            - elsif @type == 'rss-account'
              = '- RSS Accounts'
            - elsif @type == 'incoming_hashtags'
              = "- Communities' hashtags"
            - else 
              = "- Posts' hashtags"
        
        - if @type == 'community-admin'|| @type == 'rss-account'
          .card-tools.admin
            .input-group.input-group-sm{"data-toggle" => "tooltip", "data-placement" => "top", "title"=>"Back"}
              = link_to communities_url, class: 'form-control float-right text-nowrap', title: 'back' do
                Back
              - if @type == 'community-admin'
                = link_to new_community_admin_url(community_id: @community.slug, type: 'community-admin'), class: 'form-control float-right', title: 'add new channel admin' do
                  %i.fa-solid.fa-user-plus
              - else
                = link_to new_community_admin_url(community_id: @community.slug, type: 'rss-account'), class: 'form-control float-right', title: 'add new rss-account', style: 'color: #E33D26 !important' do
                  %i.fa-solid.fa-user-plus
        - else
          .card-tools.hashtag
            .input-group.input-group-sm{"data-toggle" => "tooltip", "data-placement" => "top", "title"=>"Back"}
              = link_to communities_url, class: 'form-control float-right text-nowrap', title: 'back' do
                Back
              = link_to new_community_hashtag_url(community_id: @community.id, type: @type), class: 'form-control float-right', title: 'add new hashtag' do
                %i.fa-solid.fa-circle-plus
      .card-body
        = hidden_field_tag :community_id, @community.slug
        - if @type == 'community-admin'|| @type == 'rss-account'
          %table#datatable.table.table-bordered.table-striped{data: {url: community_path(@community, type: @type), type: 'community_detail'}}
            %thead
              %tr
                %th Display name
                %th Username
                %th Email address
                %th Role
                %th Actions
            %tbody
        - else
          %table#datatable.table.table-bordered.table-striped{data: {url: community_path(@community, type: @type), type: 'hashtag_list'}}
            %thead
              %tr
                %th Hashtag
                %th Actions
            %tbody