!!!
%html
  %head
    %title
      - if content_for?(:title)
        = yield :title
      - else
        = 'Dashboard'
      |
      = application_name(0)

    %meta{content: "width=device-width,initial-scale=1", name: "viewport"}/
    = csrf_meta_tags
    = csp_meta_tag

    %link{rel: "icon", type: "image/png", href: "/favicon.png"}

    -# css
    = stylesheet_link_tag "application", "data-turbo-track": "reload"
    = stylesheet_link_tag "https://cdn.jsdelivr.net/npm/admin-lte@3.2/dist/css/adminlte.min.css"
    = stylesheet_link_tag "select2"
    = stylesheet_link_tag "select2-bootstrap"
    = stylesheet_link_tag "https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css"

    -# js
    = javascript_include_tag "jquery"
    = javascript_include_tag "select2"
    = javascript_include_tag "https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"
    = javascript_importmap_tags

  %body.hold-transition.sidebar-mini.layout-fixed{"data-scrollbar-auto-hide" => "n"}
    #disabled-overlay{ style: "display: none;" }
      #loading-spinner
        %img{ src: image_path("loading.gif"), alt: "Loading..." }
    - if user_signed_in?
      .wrapper
        = render "shared/menu/header"
        = render "shared/menu/sidebar"
        .container-fluid
        .row
          - if controller_name == 'communities' && action_name != 'index'
            .col-md-9
              .content-wrapper
                .mx-2.pt-3.pb-3
                  = render "shared/flash"
                .content.container-fluid
                  = yield
            .col-md-3
              = render "shared/menu/right_sidebar"
          - else
            .col-md-12
              .content-wrapper
                .mx-2.pt-3.pb-3
                  = render "shared/flash"
                .content.container-fluid
                  = yield
    - else
      .container.mt-5
        .w-25.m-auto
          = image_tag 'patchwork-with-text.svg', alt: 'Patchwork Logo', width: '100%'
        .w-50.m-auto
          = render "shared/flash"
        = yield
