- content_for :title do
  = 'Registered Users'
.row
  .col-12
    .card
      .card-header
        %h3.card-title Registered Users
        .card-tools
          = search_form_for @search do |f|
            .input-group.input-group-sm{style: "width: 150px;"}
              = f.search_field :username_cont, class: "form-control float-right", placeholder: "Search"
              .input-group-append
                %button.btn.btn-default{type: "submit"}
                  %i.fas.fa-search
      .card-body
        %table.table.table-bordered.table-striped{data: {url: accounts_url, type: 'account'}}
          %thead
            %tr
              %th
                = check_box_tag :select_all, '', false, id: 'select_all'
              %th User name
              %th Display name
              %th Email address
              %th Time and date account opened
              %th Server domain
          %tbody
            - @records.each do |account|
              %tr
                %td
                  = check_box_tag "selected_accounts[]", account.id, false, class: 'select_account'
                %td= account.username
                %td= render_custom_emojis(account.display_name)
                %td= account.user ? account.user.email : "-"
                %td= account.created_at.strftime('%Y-%m-%d %H:%M:%S')
                %td= account.domain ? account.domain : ENV['MASTODON_INSTANCE_URL']
      .card-footer.clearfix
        %ul.pagination.pagination-sm.m-0.float-right
          = render partial: 'kaminari/paginator', locals: { custom_paginator: @filter }   
