- content_for :title do
  = 'Registered Users'
.row
  .col-12
    .card
      .card-header
        %h3.card-title Registered Users
      .card-body
        %table#datatable.table.table-bordered.table-striped{data: {url: accounts_url, type: 'account'}}
          %thead
            %tr
              %th
                = check_box_tag :select_all, '', false, id: 'select_all'
              %th User name
              %th Display name
              %th Email address
              %th Time and date account opened
              %th Server domain
          %tbody
            - @accounts.each do |account|
              %tr
                %td
                  = check_box_tag "selected_accounts[]", account.id, false, class: 'select_account'
                %td= account.username
                %td= account.display_name
                %td= account.user ? account.user.email : "-"
                %td= account.created_at.strftime('%Y-%m-%d %H:%M:%S')
                %td= account.domain
      .card-footer.clearfix
        %ul.pagination.pagination-sm.m-0.float-right
          = paginate @accounts
     
