- content_for :title do
  = 'User detail'

.row
  .col-12
    .card
      .card-header
        %h3.card-title 
          Detail

      .card-body
        .row.border-bottom.mb-4.mt-2
          .col-sm-3.text-secondary.text-right
            ID:
          .col-sm-9.text-left
            = @account.id
        .row.border-bottom.mb-4
          .col-sm-3.text-secondary.text-right
            Display name: 
          .col-sm-9.text-left
            = @account.display_name.presence ? render_custom_emojis(@account.display_name) : '-'
        .row.border-bottom.mb-4
          .col-sm-3.text-secondary.text-right
            Username:
          .col-sm-9.text-left
            = @account.username
        .row.border-bottom.mb-4
          .col-sm-3.text-secondary.text-right
            Role: 
          .col-sm-9.text-left
            = @account.user&.role&.name
        .row.border-bottom.mb-4
          .col-sm-3.text-secondary.text-right
            Primary community: 
          .col-sm-9.text-left
            = @account.user.primary_community
        .row.border-bottom.mb-4
          .col-sm-3.text-secondary.text-right
            Registered date: 
          .col-sm-9.text-left
            = @account.created_at.strftime('%b %d, %Y - %H:%M %p')
        
        .row
          = link_to 'Back', accounts_url, class: 'back'
